<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-app="ui_app">
<head>
    <title>Baboon UI Example</title>
<%- include ../../partials/layoutHeaderMeta.html %>

    <!-- styles -->
    <link rel="stylesheet" href="/css/lib<!--@@min-->.css" />
    <link rel="stylesheet" href="/css/ui_app<!--@@min-->.css" />
    <link rel="stylesheet" href="/css/uitheme2.css" />

<%- include ../../partials/layoutHeaderStatic.html %>

</head>
<body>

<div id="singlepageFrame">

    <div class="layout-content">
        <div class="col-left navCol">
            <lxtreeview class="navlist" itemlist-attr="navData" label-attr="title" icon-attr="icon" link-attr="route" ng-init="navData = <%= JSON.stringify(navigation[1].children) %>"></lxtreeview>
        </div>
        <div class="col-right">
            <!-- partials -->
            <%- include ../../baboon_auth/login.html %>
            <%- include ../../baboon_msgBox/msgBox.html %>
            <div class="view-container">
                <div class="beige-noise">
                    <div class="p-wrapper">
                        <div ng-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--@@livereload-->
<script type="text/javascript" src="/socket.io/socket.io.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/lib<!--@@min-->.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/ui_app<!--@@min-->.js" charset="utf-8"></script>

</body>
</html>
