<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/module1">Modul1 Application</a></li>
    <li><a href="/module2">Modul2 Application</a></li>
</ul>