<div class="header">
    <div class="p-wrapper">
        <h3 class="text-muted">{{ 'APP_HEADER' | translate }}</h3>
        <ul class="nav nav-pills">
            <li ng-repeat="item in menuTopList" ng-class="{active: isActive(item.route)}">
                <a ng-if="item.target" ng-href="{{item.route}}" target="{{item.target}}">{{item.title | translate }}</a>
                <a ng-if="!item.target" ng-href="{{item.route}}">{{item.title | translate }}</a>
            </li>
        </ul>
    </div>
</div>