<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body>
    <p>Thanks for your registration.</p>

    <div>Your account has been created with the following data:</div>
    <div>Username: {USERNAME}</div>
    <div>Name: {DISPLAYNAME}</div>
    <div>E-Mail: {EMAIL}</div>

    <p>Please confirm your registration by clicking the following link:</p>
    <a href="http://127.0.0.1:3000/auth/activate/{GUID}">Confirmation Link</a>
    <p>If you have not registered on <a href="http://www.litixsoft.de">www.litixsoft.de</a>, you can safely ignore this message, because no user account has been created. <br />
    Please keep your account data safely.</p>

    Kind regards, <br />
    The Litixsoft Team
</body>
</html>