<div class="beige-noise">
    <div class="p-wrapper">

        <h2>Enterprise Edit</h2>
        <form name="form" class="css-form" novalidate>
            <fieldset>
                <legend>Crew Member</legend>
                <div>
                    <input type="text" name="name" ng-model="person.name" placeholder="Enter Name" required>
                    <span ng-show="form.name.$error.required">Name is required.</span>
                </div>
                <div>
                    <input type="text" name="description" ng-model="person.description" placeholder="Enter Description" required>
                    <span ng-show="form.description.$error.required">Description is required.</span>
                </div>
                <div>
                    <a ng-href="/enterprise" class="btn"><i class="icon-arrow-left"></i>&nbsp;Zurück</a>
                    <button ng-click="save()" ng-disabled="form.$invalid" class="btn"><i class="icon-ok"></i>&nbsp;Speichern</button>
                </div>
            </fieldset>
        </form>
        <p ui-if="visible.errors" style="color: red">{{validationErrors}}</p>
    </div>
</div>