<div class="beige-noise">
    <div class="p-wrapper">

        <h2>Enterprise Edit</h2>
        <alert type="alert.type" ui-if="alert.visible" close="alert.close()">{{alert.msg}}</alert>
        <form class="form">
            <fieldset>
                <legend>Crew Member</legend>
                <div>
                    <input type="text" ng-model="person.name" placeholder="Enter Name">
                </div>
                <div>
                    <input type="text" ng-model="person.description" placeholder="Enter Description">
                </div>
                <div>
                    <a ng-href="/enterprise" class="btn"><i class="icon-arrow-left"></i>&nbsp;Zurück</a>
                    <button ng-click="save()" class="btn"><i class="icon-ok"></i>&nbsp;Speichern</button>
                </div>
            </fieldset>
        </form>
        <p ui-if="visible.errors" style="color: red">{{validationErrors}}</p>
    </div>
</div>