<h2>Enterprise</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td><a href="/new"><i class="icon-plus-sign"></i></a></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="person in enterpriseCrew">
        <td>{{person.name}}</td>
        <td>{{person.description}}</td>
        <td><a href="/edit/{{$index}}"><i class="icon-edit"></i></a></td>
    </tr>
    </tbody>
</table>
<div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class='btn' ng-click="addAlert()">Add Alert</button>
</div>
<div>
    <button class="btn" ng-click="open()">Open me!</button>
    <div modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">
            <h4>I'm a modal!</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">{{item}}</li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>

