<div class="beige-noise">
    <div class="p-wrapper">

        <style>
            .alert h4 {
                margin-top: 30px;
                margin-bottom: 10px;
            }

            .notCollapsed.collapse {
                overflow: visible;
            }

        </style>

        <div class="page-header">
            <h1>Enterprise Beispiel<br><small>Die Verwaltung der Enterprise-Crew ist ein kleines Beispiel für die Verwendung von Baboon.</small></h1>
        </div>

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <div class="panel panel-default">
            <div class="panel-heading">Enterprise-Crew</div>
            <div class="panel-body">

                <div class="btn-group" style="margin:10px 0;">
                    <a class="btn btn-default" name="newCrewMember" href="/enterprise/new"><span class="glyphicon glyphicon-plus-sign"></span> Add new crew member</a>
                </div>

                <!--<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>Und hier kann man auch gleich Fehler anzeigen. Es treten ja nie welche auf aber für alle Fälle.</div>-->

                <table class="table table-striped"  ng-class="{'load-content' : isLoading}">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="person in crew">
                        <td>{{person.name}}</td>
                        <td>{{person.description}}</td>
                        <td style="text-align: right">
                            <a href="/enterprise/edit/{{person._id}}" title="Bearbeiten"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                            <a href="#" ng-click="deleteMember(person._id, person.name)" title="Löschen"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <p ng-if="visible.reset">
                    <button class="btn btn-primary" ng-click="resetDb()"><i class="icon-repeat"></i>&nbsp;Db-Reset</button>
                </p>
                <p ng-if="visible.create">
                    <button class="btn btn-default" ng-click="createTestMembers()"><i class="icon-arrow-up"></i>&nbsp;Crew erstellen</button>
                </p>
            </div>
        </div>

        <!--<button class="btn btn-default" ng-click="visible.element = !visible.element">show as element</button>-->
        <!--<button class="btn btn-default" ng-click="visible.element2 = !visible.element2">show as attribute in div</button>-->

        <!--&lt;!&ndash; use mmsgbox as element &ndash;&gt;-->
        <!--<bb-msgbox use-template msg-Headline="'Test 111111111'" msg-type="type" msg-message="message" msg-cbs="callbackObj" msg-class="'standard'" msg-show="visible.element"></bb-msgbox>-->

        <!--&lt;!&ndash; use mmsgbox as attribute &ndash;&gt;-->
        <!--<div bb-msgbox use-template msg-Headline="'Test 2222222222'" msg-type="type" msg-message="message" msg-cbs="callbackObj" msg-class="'standard'" msg-show="visible.element2"></div>-->
    </div>
</div>