<style>
   .alert h4{
        margin-top:30px;
        margin-bottom:10px;
    }
</style>
<h2>Enterprise</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td><a href="/new"><i class="icon-plus-sign"></i></a></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="person in enterpriseCrew">
        <td>{{person.name}}</td>
        <td>{{person.description}}</td>
        <td><a href="/edit/{{$index}}"><i class="icon-edit"></i></a></td>
    </tr>
    </tbody>
</table>
<div>
    <button class="btn" ng-click="open()">Open me!</button>
    <div modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">
            <h4>I'm a modal!</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">{{item}}</li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>



<hr>
<!-- ------------- -->
<!--*  Accordion  *-->
<!-- ------------- -->
<h1 ng-init="AccordionIsCollapsed = true" ng-click="AccordionIsCollapsed = !AccordionIsCollapsed" style="text-align:center;cursor:pointer;">Accordion</h1>
<div collapse="AccordionIsCollapsed" >
    <div style="display:table;width:100%;">
        <div style="display:table-row;">
            <div style="display:table-cell;width:33%;" class="alert alert-success">
                <h3>UI Bootstrap - Accordion</h3>

                <!-- Example Begin-->
                <div ng-controller="AccordionDemoCtrl" style="background:#f9f9f9;padding:10px">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="oneAtATime">
                        Open only one at a time
                    </label>
                    <accordion close-others="oneAtATime">
                        <accordion-group heading="Static Header">
                            This content is straight in the template.
                        </accordion-group>
                        <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                            {{group.content}}
                        </accordion-group>
                        <accordion-group heading="Dynamic Body Content">
                            <p>The body of the accordion group grows to fit the contents</p>
                            <button class="btn btn-small" ng-click="addItem()">Add Item</button>
                            <div ng-repeat="item in items">{{item}}</div>
                        </accordion-group>
                    </accordion>
                </div>
                <!-- Example End-->

            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>AngularUI - Accordion</h3>
                <p>Gibts leider noch nicht</p>
            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>AngularStrap - Accordion</h3>
                <p>Gibts leider noch nicht</p>
            </div>
        </div>
    </div>
</div>

<hr>
<!-- ------------- -->
<!--*  Alerts     *-->
<!-- ------------- -->
<h1 ng-init="AlertsIsCollapsed = true" ng-click="AlertsIsCollapsed = !AlertsIsCollapsed" style="text-align:center;cursor:pointer;">Alerts</h1>
<div collapse="AlertsIsCollapsed">
    <div style="display:table;width:100%;">
        <div style="display:table-row;">
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>UI Bootstrap - Alerts</h3>

                <!-- Example Begin-->
                <div ng-controller="AlertsCtrl">
                    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.content}}</alert>
                    <button class='btn' ng-click="addAlert()">Add Alert</button>
                </div>
                <!-- Example End-->

            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>AngularUI - Alerts</h3>
                <p>Gibts leider noch nicht</p>
            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-success">
                <h3>AngularStrap - Alerts</h3>

                <!-- Example Begin-->
                <div ng-controller="AlertsCtrl">
                    <!-- Basic static alert (default bootstrap behavior) -->
                    <div class="alert fade" bs-alert><strong>Hey!</strong> This is a static alert.</div>

                    <!-- Alert bound to an object (alert.closed is set to true on close) -->
                    <!--<div class="alert fade" bs-alert="alert"></div>-->

                    <!-- Use an array stack (alert is removed from the stack on close) -->
                    <div class="alerts">
                        <div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
                    </div>
                    <button class='btn' ng-click="addAlert()">Add Alert</button>
                </div>
                <!-- Example End-->

            </div>
        </div>
    </div>
</div>

<hr>
<!-- ------------- -->
<!--*  Buttons    *-->
<!-- ------------- -->
<h1 ng-init="ButtonsIsCollapsed = true" ng-click="ButtonsIsCollapsed = !ButtonsIsCollapsed" style="text-align:center;cursor:pointer;">Buttons, Radios, Checkboxes</h1>
<div collapse="ButtonsIsCollapsed">
        <div style="display:table;width:100%;">
            <div style="display:table-row;">
                <div style="display:table-cell;width:33%;" class="alert alert-danger">
                    <h3>UI Bootstrap - Buttons</h3>
                    <h3>UI Bootstrap - Radios</h3>
                    <h3>UI Bootstrap - Checkboxes</h3>

                    <!-- Example Begin-->
                    <div ng-controller="ButtonsCtrl">
                        <h4>Single toggle</h4>
                        <pre>{{singleModel}}</pre>
                        <button type="button" class="btn" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                            Single Toggle
                        </button>
                        <h4>Checkbox</h4>
                        <pre>{{checkbox}}</pre>
                        <div class="btn-group" data-toggle="buttons-checkbox">
                            <button type="button" class="btn" ng-model="checkbox.left" btn-checkbox>Left</button>
                            <button type="button" class="btn" ng-model="checkbox.middle" btn-checkbox>Middle</button>
                            <button type="button" class="btn" ng-model="checkbox.right" btn-checkbox>Right</button>
                        </div>
                        <h4>Radio Single Model</h4>
                        <pre>{{radioModel}}</pre>
                        <div class="btn-group" data-toggle="buttons-checkbox">
                            <button type="button" class="btn" ng-model="radioModel" btn-radio="'Left'">Left</button>
                            <button type="button" class="btn" ng-model="radioModel" btn-radio="'Middle'">Middle</button>
                            <button type="button" class="btn" ng-model="radioModel" btn-radio="'Right'">Right</button>
                        </div>
                    </div>
                    <!-- Example End-->

                </div>
                <div style="display:table-cell;width:0.5%"></div>
                <div style="display:table-cell;width:33%;" class="alert alert-danger">
                    <h3>AngularUI - Buttons</h3>
                    <h3>AngularUI - Radios</h3>
                    <h3>AngularUI - Checkboxes</h3>
                    <p>Gibts leider noch nicht</p>
                </div>
                <div style="display:table-cell;width:0.5%"></div>
                <div style="display:table-cell;width:33%;" class="alert alert-success">
                    <h3>AngularStrap - Buttons</h3>
                    <h3>AngularStrap - Radios</h3>
                    <h3>AngularStrap - Checkboxes</h3>

                    <!-- Example Begin-->
                    <div ng-controller="ButtonsCtrl">
                        <h4>Single toggle</h4>
                        <pre>{{button.active}}</pre>
                        <button type="button" class="btn" ng-model="button.active" bs-button>Toogle me!</button>
                        <h4>Checkboxes</h4>
                        <pre>{{checkbox}}</pre>
                        <div class="btn-group" bs-buttons-checkbox>
                            <button type="button" class="btn" ng-model="checkbox.left">Left</button>
                            <button type="button" class="btn" ng-model="checkbox.middle">Middle</button>
                            <button type="button" class="btn" ng-model="checkbox.right">Right</button>
                        </div>
                        <h4>Radios Single Model</h4>
                        <pre>{{radioModel}}</pre>
                        <div class="btn-group" ng-model="radioModel" bs-buttons-radio>
                            <button type="button" class="btn" value="Left">Left</button>
                            <button type="button" class="btn" value="Middle">Middle</button>
                            <button type="button" class="btn" value="Right">Right</button>
                        </div>
                        <h4>Radios</h4>
                        <pre>{{radio}}</pre>
                        <div class="btn-group" bs-buttons-radio>
                            <button type="button" class="btn" ng-model="radio.left">Left</button>
                            <button type="button" class="btn" ng-model="radio.middle">Middle</button>
                            <button type="button" class="btn" ng-model="radio.right">Right</button>
                        </div>
                        <h4>Button Select</h4>
                        <div class="input-append">
                            <input type="text" ng-model="buttonSelect.price">
                            <button type="button"class="btn" ng-model="buttonSelect.currency" bs-button-select="['$', '€', '¥']"></button>
                        </div>
                    </div>
                    <!-- Example End-->

                </div>
            </div>
        </div>
</div>

<hr>
<!-- ------------- -->
<!--*  Carousel   *-->
<!-- ------------- -->
<h1 ng-init="CarouselIsCollapsed = true" ng-click="CarouselIsCollapsed = !CarouselIsCollapsed" style="text-align:center;cursor:pointer;">Carousel</h1>
<div collapse="CarouselIsCollapsed">
    <div style="display:table;width:100%;">
        <div style="display:table-row;">
            <div style="display:table-cell;width:33%;" class="alert alert-success">
                <h3>UI Bootstrap - Carousel</h3>

                <!-- Example Begin-->
                <div ng-controller="CarouselDemoCtrl">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{$index}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </slide>
                    </carousel>
                    <div class="row-fluid">
                        <div class="span6">
                            <ul>
                                <li ng-repeat="slide in slides">
                                    <button class="btn btn-mini" ng-class="{'btn-info': !slide.active, 'btn-success': slide.active}" ng-disabled="slide.active" ng-click="slide.active = true">select</button>
                                    {{$index}}: {{slide.text}}
                                </li>
                            </ul>
                            <a class="btn" ng-click="addSlide()">Add Slide</a>
                        </div>
                        <div class="span6">
                            Interval, in milliseconds: <input type="number" ng-model="myInterval">
                            <br />Enter a negative number to stop the interval.
                        </div>
                    </div>
                </div>
                <!-- Example End-->

            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>AngularUI - Carousel</h3>
                <p>Gibts leider noch nicht</p>
            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>AngularStrap - Carousel</h3>
                <p>Gibts leider noch nicht</p>
            </div>
        </div>
    </div>
</div>

<hr>
<!-- ------------- -->
<!--*  Collapse   *-->
<!-- ------------- -->
<h1 ng-init="CollapseIsCollapsed = true" ng-click="CollapseIsCollapsed = !CollapseIsCollapsed" style="text-align:center;cursor:pointer;">Collapse</h1>
<div collapse="CollapseIsCollapsed">
    <div style="display:table;width:100%;">
        <div style="display:table-row;">
            <div style="display:table-cell;width:33%;" class="alert alert-success">
                <h3>UI Bootstrap - Collapse</h3>

                <!-- Example Begin-->
                <div ng-controller="CollapseDemoCtrl">
                    <button class="btn" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
                    <hr>
                    <div collapse="isCollapsed">
                        <div class="well well-large">Some content</div>
                    </div>
                </div>
                <!-- Example End-->

            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>AngularUI - Collapse</h3>
                <p>Gibts leider noch nicht</p>
            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>AngularStrap - Collapse</h3>
                <p>Gibts leider noch nicht</p>
            </div>
        </div>
    </div>
</div>

<hr>
<!-- ------------- -->
<!--*  Modal Dialogs MsgBoxes   *-->
<!-- ------------- -->
<h1 ng-init="DialogIsCollapsed = true" ng-click="DialogIsCollapsed = !DialogIsCollapsed" style="text-align:center;cursor:pointer;">Modal Dialogs, MsgBoxes</h1>
<div collapse="DialogIsCollapsed">
    <div style="display:table;width:100%;">
        <div style="display:table-row;">
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>UI Bootstrap - Modal Dialogs MsgBoxes</h3>

                <!-- Example Begin-->
                <h4>ModalPopup mit Template (Dialog)</h4>
               <div ng-controller="DialogDemoCtrl">
                    <div class="row-fluid">
                        <div class="span6">
                            <label class="checkbox"><input type=checkbox ng-model="opts.backdrop">Show backdrop</label>
                            <label class="checkbox"><input type=checkbox ng-model="opts.dialogFade">Fade modal dialog </label>
                            <label class="checkbox"><input type=checkbox ng-disabled="!opts.backdrop" ng-model="opts.backdropFade">Fade Backdrop</label>
                            <label class="checkbox"><input type=checkbox ng-model="opts.keyboard">Close on Escape</label>
                            <label class="checkbox"><input type=checkbox ng-disabled="!opts.backdrop" ng-model="opts.backdropClick">Close on backdrop click</label>
                        </div>
                        <div class="span6">
                            <p>Change options at will and press the open dialog button below!</p>
                            <p><button class="btn" ng-click="openDialog()">Open Dialog</button></p>

                            <p>Alternatively open a simple message box:</p>
                            <p><button class="btn" ng-click="openMessageBox()">Open Message Box</button></p>
                        </div>
                    </div>
                </div>
                <h4>ModalPopup HTML bereits im DOM (Modal)</h4>
                <div ng-controller="ModalDemoCtrl">
                    <button class="btn" ng-click="open()">Open Modal</button>
                    <div modal="shouldBeOpen" close="close()" options="opts">
                        <div class="modal-header">
                            <h4>I'm a modal!</h4>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li ng-repeat="item in items">{{item}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
                        </div>
                    </div>
                </div>
                <!-- Example End-->

            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>AngularUI - Modal Dialogs MsgBoxes</h3>
                <p>Gibts leider noch nicht</p>
            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-success">
                <h3>AngularStrap - Modal Dialogs MsgBoxes</h3>

                <!-- Example Begin-->
                <!--<div ng-controller="StrapDialogController">-->
                    <!-- Button to trigger modal -->
                    <h4>Modal mit Template</h4>
                    <button type="button" class="btn" bs-modal="'enterprise/popup.html'"  ng-controller="StrapDialogController">Modal</button>
                    <h4>Modal mit Template aber als Injekteter Service</h4>
                    <button type="button" class="btn" ng-click="viaService()" ng-controller="StrapDialogController">With $modal service</button>

                <!--</div>-->
                <!-- Example End-->

            </div>
        </div>
    </div>
</div>

<hr>
<!-- ------------- -->
<!--*  Dropdowns    *-->
<!-- ------------- -->
<h1 ng-init="DropdownsIsCollapsed = false" ng-click="DropdownsIsCollapsed = !DropdownsIsCollapsed" style="text-align:center;cursor:pointer;">Dropdowns</h1>
<div collapse="DropdownsIsCollapsed">
    <div style="display:table;width:100%;height:250px;">
        <div style="display:table-row;">
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>UI Bootstrap - Dropdowns</h3>

                <!-- Example Begin-->
                <li class="dropdown" ng-controller="DropdownCtrl">
                    <a class="dropdown-toggle">
                        Click me for a dropdown, yo!
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="choice in items">
                            <a>{{choice}}</a>
                        </li>
                    </ul>
                </li>
                <!-- Example End-->

            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>AngularUI - Dropdowns</h3>
                <p>Gibts leider noch nicht</p>
            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-success">
                <h3>AngularStrap - Dropdowns</h3>

                <!-- Example Begin-->
                <div ng-controller="DropdownCtrl">
                    <!-- Button to trigger dropdown -->
                    <div class="btn-group">
                        <button type="button" class="btn" bs-dropdown="dropdown">DropMeDown</button>
                    </div>

                    <!-- Separated button -->
                    <div class="btn-group">
                        <button type="button" class="btn" ng-click="action()">ClickMe</button>
                        <button type="button" class="btn" bs-dropdown="dropdown">
                        <span class="caret"></span>
                        </button>
                    </div>
                </div>
                <!-- Example End-->

            </div>
        </div>
    </div>
</div>


<hr>
<!-- ------------- -->
<!--*  Test    *-->
<!-- ------------- -->
<h1 ng-init="TestIsCollapsed = false" ng-click="TestIsCollapsed = !TestIsCollapsed" style="text-align:center;cursor:pointer;">Buttons, Radios, Checkboxes</h1>
<div collapse="TestIsCollapsed">
    <div style="display:table;width:100%;">
        <div style="display:table-row;">
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>UI Bootstrap - Buttons</h3>

                <!-- Example Begin-->

                <!-- Example End-->

            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-danger">
                <h3>AngularUI - Buttons</h3>
                <p>Gibts leider noch nicht</p>
            </div>
            <div style="display:table-cell;width:0.5%"></div>
            <div style="display:table-cell;width:33%;" class="alert alert-success">
                <h3>AngularStrap - Buttons</h3>

                <!-- Example Begin-->

                <!-- Example End-->

            </div>
        </div>
    </div>
</div>

<hr>
<div style="display:table;width:100%;">
    <div style="display:table-row;">
        <div style="display:table-cell;width:33%;" class="alert alert-danger">
            <h3>UI Bootstrap - Datepicker</h3>
            <p>Gibts leider noch nicht</p>
        </div>
        <div style="display:table-cell;width:0.5%"></div>
        <div style="display:table-cell;width:33%;" class="alert alert-danger">
            <h3>AngularUI - Datepicker</h3>
            <input placeholder="Datum" ui-date />
            <p>benötigt:
            <ul>
                <li>angular-ui.min.js</li>
                <li>angular-ui.min.css</li>
                <li>jquery.min.js</li>
                <li>jquery-ui-1.10.2.custom.min.js</li>
            </ul>
            </p>
        </div>
        <div style="display:table-cell;width:0.5%"></div>
        <div style="display:table-cell;width:33%;" class="alert alert-success">
            <h3>AngularStrap - Datepicker</h3>
            <div class="control-group input-append">
                <input type="text" ng-model="datepicker.date" data-date-format="dd/mm/yyyy" bs-datepicker>
                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
            </div>
            <p>benötigt:
            <ul>
                <li>angular-strap.min.js</li>
                <li>bootstrap-datepicker.js</li>
                <li>bootstrap-datepicker.css</li>
            </ul>
            </p>
        </div>
    </div>
</div>
<hr>
<h3>AngularUI - CodeMirror</h3>
<textarea ui-codemirror="{theme:'monokai'}" ng-model="codeMirrorModel"></textarea>
