<div class="beige-noise">
    <div class="p-wrapper">
        <div class="page-header">
            <h1>{{ 'ENTERPRISE_EXAMPLE' | translate }}<br><small>{{ 'ENTERPRISE_ADMIN' | translate }}</small></h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Enterprise-Crew</div>
            <div class="panel-body">
                <bbc-alert service="bbcAlert"></bbc-alert>
                <table class="table table-striped">
                    <colgroup>
                        <col style="width:50px;"/>
                        <col style="width:350px;"/>
                        <col/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th><a name="newGroup" href="/demo/enterprise/new" title="{{ 'NEW' | translate }}"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
                        <th>
                            <a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a>
                            <span ng-show="predicate === 'name'" class="glyphicon glyphicon-arrow-up" ng-class="{'glyphicon-arrow-up': !reverse, 'glyphicon-arrow-down': reverse}"></span>
                        </th>
                        <th>
                            <a href="" ng-click="predicate = 'description'; reverse=!reverse">{{ 'DESCRIPTION' | translate }}</a>
                            <span ng-show="predicate === 'description'" class="glyphicon glyphicon-arrow-up"ng-class="{'glyphicon-arrow-up': !reverse, 'glyphicon-arrow-down': reverse}"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in crew | orderBy:predicate:reverse">
                        <td>
                            <a href="/demo/enterprise/edit/{{p._id}}" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="" ng-click="delete(p._id)" title="{{ 'DELETE' | translate }}"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <button ng-if="crew.length != 0" class="btn btn-primary" ng-click="resetDb()">{{ 'RESET_DATABASE' | translate }}</button>
                <button ng-if="crew.length == 0" class="btn btn-default" ng-click="createTestMembers()">{{ 'CREATE_CREW' | translate }}</button>
            </div>
        </div>
    </div>
</div>