<div class="beige-noise">
    <div class="p-wrapper">
        <div class="page-header">
            <h1>{{ 'ENTERPRISE_EXAMPLE' | translate }}<br><small>{{ 'ENTERPRISE_ADMIN' | translate }}</small></h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Enterprise-Crew</div>
            <div class="panel-body">
                <table class="table table-striped"  ng-class="{'load-content' : isLoading}">
                    <colgroup>
                        <col style="width:50px;" />
                        <col style="width:350px;" />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th><a name="newGroup" href="/demo/enterprise/new"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in crew">
                            <td>
                                <a href="/demo/enterprise/edit/{{p._id}}" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="" ng-click="deleteMember(p._id, p.name)" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                            <td>{{ p.name }}</td>
                            <td>{{ p.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div ng-if="crew.length != 0">
                    <button class="btn btn-primary" ng-click="resetDb()"><span class="glyphicon glyphicon-repeat"></span> Db-Reset</button>
                </div>
                <div ng-if="crew.length == 0">
                    <button class="btn btn-default" ng-click="createTestMembers()"><span class="glyphicon glyphicon-arrow-up"></span> Create Crew</button>
                </div>
                <bbc-alert service="bbcAlert"></bbc-alert>
            </div>
        </div>
    </div>
</div>