#topnav {
    background:#666666;
    padding:5px 10px;
    color:white;
    min-height: 30px;
    line-height: 30px;
}
#topnav a:hover{
    text-decoration: none;
}
.top-level-nav {
    position:relative;
    display:inline-block;
    margin-left:50px;
}
.top-level-nav a{
    color:white;
    margin:0 5px;
}
.top-user-area{
    float:right;
    position:relative;
}
.top-user-area a.dropdown-toggle{
    cursor:pointer;
}
.dev-hints{
    color:#ccc;font-size:10px;
}
/*-------------------------------------------*/
/*---------login (overwrite twitter)---------*/
/*-------------------------------------------*/

.btn-group.open.v4 .dropdown-menu.login h1{
    font-family:'Raleway';
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align:center;

}
.btn-group.open.v4 .dropdown-menu.login h1:after{
    content: 'login';
    position:absolute;
    left:50px;
    top:20px;
    font-family:'Raleway';
    font-weight:700;
    font-size:85px;
    color:rgba(255,255,255,0.1);
    text-align:center;
}
.btn-group.open.v4 .dropdown-menu.login form{
    margin:10px 20px;
}
.btn-group.open.v4 .dropdown-menu.login{
    position:fixed;
    left:50%;
    top:50%;
    width:262px;
    margin-top: -122px;
    margin-left:-111px;
    background:#1e90ff url('../img/blue-triangles.png') no-repeat center right;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:1px 1px 12px rgba(0,0,0,0.6);
}
.btn-group.open.v4 .dropdown-menu.login + .darkback{
    content :'';
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.8);
    z-index:1;
}
.btn-group.open.v4 .dropdown-menu.login .close{
    text-shadow:0 1px 3px rgba(255,255,255,0.1);
    color:white;
    position:absolute;
    right:5px;
    top:5px;
    z-index:20;
}
.btn-group.open.v4 .dropdown-menu.login .form-inner{
    padding:30px 0 0 0;
}
.btn-group.open.v4 .dropdown-menu.login .form-submit{
     padding:20px 0 0 0;

}

.btn-group.open.v4 .dropdown-menu.login .btn.btn-block{
    background: url(../img/lock3black.png), -webkit-linear-gradient(top,#ffffff,#e6e6e6);
    opacity:0.4;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 17px 25px, auto auto;
    color:white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border:0;
    padding:6px;
}
.btn-group.open.v4 .dropdown-menu.login .btn.btn-block:hover{
    background: url(../img/lock3black.png), -webkit-linear-gradient(top,#ffffff,#e6e6e6);
    opacity: 1;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 17px 25px, auto auto;
}
/*-------------------------------------------*/
/*---------login (overwrite twitter)---------*/
/*-------------------------------------------*/

.btn-group.open.v3 .dropdown-menu.login h1{
    font-family:'Raleway';
    font-weight:700;
    color:white;
    text-align:center;
    text-shadow:0 1px 3px rgba(0,0,0,0.9);
}
.btn-group.open.v3 .dropdown-menu.login{

    position:fixed;
    left:50%;
    top:50%;
    width:242px;
    margin-top: -113px;
    margin-left:-121px;
    background: -webkit-linear-gradient(top left,#3c4148,#33373d);
    border-top:1px solid rgba(255,255,255,0.2);
    border-bottom:1px solid rgba(255,255,255,0.2);
    box-shadow:1px 1px 12px rgba(0,0,0,0.6);
    z-index:10;
}
.btn-group.open.v3 .dropdown-menu.login + .darkback{
    content :'';
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.85);
    z-index:1;
}
.btn-group.open.v3 .dropdown-menu.login .close{
    text-shadow:0 1px 3px rgba(255,255,255,0.1);
    color:white;
    position:absolute;
    right:5px;
    top:5px;
    z-index:20;
}
.btn-group.open.v3 .dropdown-menu.login input{

}
.btn-group.open.v3 .dropdown-menu.login .form-inner{
    background-color:#25272a;
    padding:10px 10px 0 10px;
    box-shadow:0 0 20px rgba(0,0,0,1) inset;
    border-top:1px solid rgba(255,255,255,0.2);
    border-bottom:1px solid rgba(255,255,255,0.3);
}
.btn-group.open.v3 .dropdown-menu.login .form-submit{
    padding:10px 10px 0 10px;
}

.btn-group.open.v3 .dropdown-menu.login .btn.btn-block{
    background: url(../img/lock3.png), -webkit-linear-gradient(top,#07a4eb,#0684be);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 17px 25px, auto auto;
    color:white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border:0;
    padding:6px;
}
.btn-group.open.v3 .dropdown-menu.login .btn.btn-block:hover{
    background: url(../img/lock3.png), -webkit-linear-gradient(top,#0ccdf5,#0ab5df);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 17px 25px, auto auto;
}
/*-------------------------------------------*/
/*---------login (overwrite twitter)---------*/
/*-------------------------------------------*/
.btn-group.open.v1 .dropdown-menu.login h1{
    font-family:'Raleway';
    font-weight:700;
    color:white;
    text-align:center;
    text-shadow:0 1px 3px rgba(0,0,0,0.9);
}
.btn-group.open.v1 .dropdown-menu.login{
    background:#3c4148;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:1px 1px 12px rgba(0,0,0,0.6);
    margin-top: 10px;
}
.btn-group.open.v1 .dropdown-menu.login:after{
    content :'';
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom: 8px solid #3c4148;
    position:absolute;
    top:-7px;
    right:30px;
}
.btn-group.open.v1 .dropdown-menu.login .close{
    display:none;
}
.btn-group.open.v1 .dropdown-menu.login .form-inner{
    background-color:#25272a;
    padding:10px 10px 0 10px;
    box-shadow:0 0 20px rgba(0,0,0,1) inset;
    border-top:1px solid rgba(255,255,255,0.2);
    border-bottom:1px solid rgba(255,255,255,0.3);
}
.btn-group.open.v1 .dropdown-menu.login .form-submit{
    padding:10px 10px 0 10px;
}

.btn-group.open.v1 .dropdown-menu.login .btn.btn-block{
    background: url(../img/lock3.png), -webkit-linear-gradient(top,#07a4eb,#0684be);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 17px 25px, auto auto;
    color:white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border:0;
    padding:6px;
}
.btn-group.open.v1 .dropdown-menu.login .btn.btn-block:hover{
    background: url(../img/lock3.png), -webkit-linear-gradient(top,#0ccdf5,#0ab5df);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 17px 25px, auto auto;
}

/*-------------------------------------------*/
/*---------login (overwrite twitter)---------*/
/*-------------------------------------------*/

.btn-group.open.v2 .dropdown-menu.login h1{
    font-family:'Raleway';
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align:center;

}
.btn-group.open.v2 .dropdown-menu.login h1:after{
    content: 'login';
    position:absolute;
    left:50px;
    top:20px;
    font-family:'Raleway';
    font-weight:700;
    font-size:85px;
    color:rgba(255,255,255,0.1);
    text-align:center;
}
.btn-group.open.v2 .dropdown-menu.login form{
    margin:10px 20px;
}
.btn-group.open.v2 .dropdown-menu.login{
    background:#1e90ff url('../img/blue-triangles.png') no-repeat center right;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:1px 1px 12px rgba(0,0,0,0.6);
    margin-top: 10px;
}
.btn-group.open.v2 .dropdown-menu.login:after{
    content :'';
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom: 8px solid #0264ac;
    position:absolute;
    top:-7px;
    right:30px;
}
.btn-group.open.v2 .dropdown-menu.login .close{
    display:none;
}
.btn-group.open.v2 .dropdown-menu.login .form-inner{
    padding:30px 0 0 0;
}
.btn-group.open.v2 .dropdown-menu.login .form-submit{
     padding:20px 0 0 0;

}

.btn-group.open.v2 .dropdown-menu.login .btn.btn-block{
    background: url(../img/lock3black.png), -webkit-linear-gradient(top,#ffffff,#e6e6e6);
    opacity:0.4;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 17px 25px, auto auto;
    color:white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border:0;
    padding:6px;
}
.btn-group.open.v2 .dropdown-menu.login .btn.btn-block:hover{
    background: url(../img/lock3black.png), -webkit-linear-gradient(top,#ffffff,#e6e6e6);
    opacity: 1;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 17px 25px, auto auto;
}
/*-------------------------------------------*/
/*-----lxNavBar Styles (overwrite twitter)---*/
/*-------------------------------------------*/
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-white.png");
}

.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
}
/*
.dropdown-submenu > a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    border-color: transparent;
    border-left-color: #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
}
*/
.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown > .dropdown-toggle{
    cursor:pointer;
}/*
.dropdown > .dropdown-toggle:after{
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -13px;
    border-color: transparent;
    border-left-color: #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
}
.dropdown.open > .dropdown-toggle:after{
    margin-top:8px;
    margin-right:-13px;
    border-color: transparent;
    border-top-color: #cccccc;
    border-style: solid;
    border-width: 5px 5px 0 5px;
}*/
.navbar-inverse .navbar-brand{
    color:white;
}
.navbar-brand{
    /*text-shadow:1px 1px 1px black;*/
    font-family: 'Ubuntu', sans-serif;

    font-size:35px;
    font-weight:bold;
    /*line-height:50px;padding:0 10px;*/
}
.navbar-toggle{
    display:none;
}
/*-------------------------------------------*/
/*-------------------------------------------*/
.nav-tabs .open .dropdown-menu .dropdown-submenu .dropdown-toggle,
.nav-pills .open .dropdown-menu .dropdown-submenu .dropdown-toggle{
    background:transparent;
    color:#333;
}
.nav-tabs .open .dropdown-menu .dropdown-submenu .dropdown-toggle .caret,
.nav-pills .open .dropdown-menu .dropdown-submenu .dropdown-toggle .caret{
    display: none;
}
.nav-tabs .open .dropdown-menu .dropdown-submenu .dropdown-toggle:hover,
.nav-pills .open .dropdown-menu .dropdown-submenu .dropdown-toggle:hover{
    background: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background: linear-gradient(top, #0088cc, #0077b3);
    color:white;
}

/*-------------------------------------------*/
/*-----------lxTreeNav Styles----------------*/
/*-------------------------------------------*/
.navCol ul.navlist{
    font-size:18px;
    display:table;
    list-style-type: none;
    margin:0;
    background-color:#25272a;
    border-top:1px solid #24282c;
    border-bottom:1px solid #4a4f58;
    padding:0;
}
.navCol ul.navlist ul {
    display:block;
    list-style-type: none;
    margin:0;
    background-color:#25272a;
    position:relative;
}
.navCol ul.navlist ul:after {
    content:"";
    width:20px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.2));
    background:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.2));
    background:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.2));
    background:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.2));
    background:linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.2));
}

/*--- list item = arrow + link*/
.navCol .list-item {
    display:block;
    min-width:300px;
    background:#3c4148;
    color:#c2cad6;
    border-bottom:1px solid #24282c;
    border-top:1px solid #4a4f58;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    line-height:25px;
    padding:0 10px 0 0px;
    margin:0;
    position:relative;
}

.navCol div.list-item  a{
    display:block;
    text-decoration:none;
    color:#c2cad6;
}
.navCol div.list-item:hover a{
    color:white;
}
.navCol div.list-item  span{
    font-size:14px;
    /*font-size:20px;*/
    line-height:28px;
    /*line-height:38px;*/
    padding:0 8px;
    text-shadow:0 1px 3px rgba(0,0,0,0.8);
}
.navCol div.list-item.active{
    background: -webkit-linear-gradient(top,#07a4eb,#0684be);
    background: -ms-linear-gradient(top,#07a4eb,#0684be);
    background: -o-linear-gradient(top,#07a4eb,#0684be);
    background: -moz-linear-gradient(top,#07a4eb,#0684be);
    background: linear-gradient(top,#07a4eb,#0684be);
}
.navCol div.list-item.active a span{
    color:white;
}
.navCol div.list-item:hover{
    background:#525860;
    color:white;
    text-shadow:0 1px 3px rgba(0,0,0,0.4);
}

.navCol .opensub{
    border:1px solid #24282c;
    box-shadow:0 0 3px #4a4f58 inset;
    background:#3c4148 url('../img/rightarrow.png') no-repeat center center;
    width:18px;
    height:18px;
    display:block;
    float:left;
    margin:5px 0 0 5px;
    border-radius:3px;
    text-align:center;
    line-height: 17px;
    cursor:pointer;

}
.navCol div.list-item:hover .opensub{
    background-color:white;
    border-color:white;
}
.navCol .opensub.lxclose{
    background:#3c4148 url('../img/rightarrow.png') no-repeat center center;
}
.navCol .opensub.lxopen{
    background:#3c4148 url('../img/downarrow.png') no-repeat center center;
}
/*-------- show n hide + animation -----------*/
.navCol .display {
    display:block;
    -webkit-transition: all 0.3s ease-in-out;
    overflow: hidden;
    opacity: 0;
    height:0;
    width:0;
    padding-left:20px;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
}
.navCol .display.lxclose {
    -webkit-transition: all 0.3s ease-in-out;
    opacity: 0;
    height:0;
    width:0;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
}
.navCol .display.lxopen {
    -webkit-transition: all 0.3s ease-in-out;
    opacity: 1;
    height:auto;
    width:auto;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

/*-------- icons -------------*/
.navCol .nav-icon{
    display:none;
    width:10px;
    height:10px;
    background:yellow;
    float:left;
    width:18px;
    height:18px;
    margin-top:5px;
    margin-left:5px;
}
.navCol .nav-icon.gear{
    display:block;
    background:transparent url('https://cdn1.iconfinder.com/data/icons/skype-icons/512/skype_camera_s.png') no-repeat center center;
    background-size:18px 18px;
}
.navCol .nav-icon.home{
    display:block;
    background:transparent url('http://future-centre.org/x/images/slideshow_footer/Home-icon.png') no-repeat center center;
    background-size:18px 18px;
}

