<div>
    <div class="p-wrapper">

        <div class="page-header">
            <h1>Latest Articles</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
                <lx-Pager count="count" current-page="currentPage" page-sizes="[1, 5, 10]" on-paging="getData(pagingOptions)"></lx-Pager>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchValue" placeholder="Search..." ui-reset>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="searchPosts(searchValue)">Search</button>
                    </span>
                </div>
            </div>
        </div>

        <ul class="inline">
            <li ng-repeat="tag in tags | notZero">
                <button class="btn btn-info" ng-click="searchPosts(tag._id)">{{tag.name}}({{tag.count}})</button>
            </li>
        </ul>

        <div class="panel" ng-class="{'panel-success': ($index<1),'panel-default': ($index>0)}"  ng-repeat="entry in posts">
            <div class="panel-heading">
                <a class="entry-title" href="/blog/post/{{entry._id}}" title="{{entry.title}}">{{entry.title}} <span class="label label-success" ui-if="($index<1)">New</span></a>
                <div class="entry-replies">
                    <a href="/blog/post/{{entry._id}}">{{entry.comments.length}} Antworten</a>
                </div>
            </div>
            <div class="panel-body">
                <p>{{entry.content}}</p>
                <br />
                <a href="/blog/post/{{entry._id}}" class="btn btn-sm btn-default">mehr...</a>
            </div>
            <div class="panel-footer">
                <div class="entry-meta">Dieser Artikel wurde am {{ entry.created | date:'dd.MM.yyyy, HH:mm' }} Uhr erstellt</div>
            </div>
        </div>

    </div>
</div>