<div class="beige-noise">
    <div class="p-wrapper">
        <h2>Baboon Login</h2>
        <form class="form" method="post" action="/login">
            <div>
                <input type="text" name="username" placeholder="Enter username">
            </div>
            <div>
                <input type="text" name="password" placeholder="Enter password">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
        </form>
        <% if(showMsg) { %>
            <div class="<%= sessionMsgClass %>"><%= sessionMsg %></div>
        <% } %>
    </div>
    <input ng-model="data.value" placeholder="set session data">
    <button class="btn" ng-click="setData()">Set To Session</button>
    <button class="btn btn-info" ng-click="getAll()">Get All Session</button>
    <button class="btn btn-info" ng-click="setAct()">Set Act</button>
    <p>{{session}}</p>
    <h2>Session over Http Test</h2>
    <button class="btn btn-info" ng-click="activity()">Test Activity</button>
</div>