<div class="beige-noise">
    <div class="p-wrapper">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'REGISTER' | translate }}</div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="register()" name="registerForm" novalidate>
                    <div class="form-group" ng-class="{'has-error': ((registerForm.username.$dirty && registerForm.username.$invalid) || registerForm.errors.username)}">
                        <label class="col-md-2 control-label" for="username">{{ 'USERNAME' | translate }}</label>
                        <div class="col-md-10 lxvalidation">
                            <input type="text" ng-model="user.username" id="username" name="username" ng-keydown="registerForm.errors.username=false" placeholder="{{ 'ENTER_USERNAME' | translate }}" class="form-control" required ui-reset>
                            <label ng-show="((registerForm.username.$dirty && registerForm.username.$invalid) || registerForm.errors.username)" style="cursor:pointer;" class="label label-danger">
                                <div class="glyphicon glyphicon-fire"></div>
                                <span ng-show="registerForm.username.$error.required" popover="{{ 'REQUIRED_NAME' | translate }}" popover-trigger="mouseenter"></span>
                                <!--<span ng-show="registerForm.username.$error.minlength" popover="{{ 'MINLENGTH_NAME' | translate }}" popover-trigger="mouseenter"></span>-->
                                <span ng-show="registerForm.errors.username" popover="{{registerForm.errors.username}}" popover-trigger="mouseenter"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': ((registerForm.displayName.$dirty && registerForm.displayName.$invalid) || registerForm.errors.displayName)}">
                        <label class="col-md-2 control-label" for="displayName">{{ 'DISPLAY_NAME' | translate }}</label>
                        <div class="col-md-10 lxvalidation">
                            <input type="text" ng-model="user.displayName" id="displayName" name="displayName" ng-keydown="registerForm.errors.displayName=false" placeholder="{{ 'ENTER_DISPLAY_NAME' | translate }}" class="form-control" ui-reset>
                            <label ng-show="((registerForm.displayName.$dirty && registerForm.displayName.$invalid) || registerForm.errors.displayName)" style="cursor:pointer;" class="label label-danger">
                                <div class="glyphicon glyphicon-fire"></div>
                                <!--<span ng-show="registerForm.displayName.$error.required" popover="{{ 'REQUIRED_DISPLAYNAME' | translate }}" popover-trigger="mouseenter"></span>-->
                                <span ng-show="registerForm.displayName.$error.minlength" popover="{{ 'MINLENGTH_DISPLAYNAME' | translate }}" popover-trigger="mouseenter"></span>
                                <span ng-show="registerForm.errors.displayName" popover="{{registerForm.errors.displayName}}" popover-trigger="mouseenter"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': ((registerForm.email.$dirty && registerForm.email.$invalid) || registerForm.errors.email)}">
                        <label class="col-md-2 control-label" for="email">{{ 'EMAIL' | translate }}</label>
                        <div class="col-md-10 lxvalidation">
                            <input type="email" ng-model="user.email" id="email" name="email" ng-keydown="registerForm.errors.email=false" placeholder="{{ 'ENTER_EMAIL' | translate }}" class="form-control" required ui-reset>
                            <label ng-show="((registerForm.email.$dirty && registerForm.email.$invalid) || registerForm.errors.email)" style="cursor:pointer;" class="label label-danger">
                                <div class="glyphicon glyphicon-fire"></div>
                                <span ng-show="registerForm.email.$error.email" popover="{{ 'EMAIL_WRONG' | translate }}" popover-trigger="mouseenter"></span>
                                <span ng-show="registerForm.email.$error.required" popover="{{ 'REQUIRED_EMAIL' | translate }}" popover-trigger="mouseenter"></span>
                                <span ng-show="registerForm.errors.email" popover="{{registerForm.errors.email}}" popover-trigger="mouseenter"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': ((registerForm.confirmedEmail.$dirty && registerForm.confirmedEmail.$invalid) || registerForm.errors.confirmedEmail)}">
                        <label class="col-md-2 control-label" for="confirmedEmail">{{ 'EMAIL_REPEAT' | translate }}</label>
                        <div class="col-md-10 lxvalidation">
                            <input type="email" ng-model="user.confirmedEmail" id="confirmedEmail" name="confirmedEmail" ng-keydown="registerForm.errors.confirmedEmail=false" placeholder="{{ 'ENTER_EMAIL' | translate }}" class="form-control" required ui-reset>
                            <label ng-show="((registerForm.confirmedEmail.$dirty && registerForm.confirmedEmail.$invalid) || registerForm.errors.confirmedEmail)" style="cursor:pointer;" class="label label-danger">
                                <div class="glyphicon glyphicon-fire"></div>
                                <span ng-show="registerForm.confirmedEmail.$error.email" popover="{{ 'EMAIL_WRONG' | translate }}" popover-trigger="mouseenter"></span>
                                <span ng-show="registerForm.confirmedEmail.$error.required" popover="{{ 'REQUIRED_EMAIL' | translate }}" popover-trigger="mouseenter"></span>
                                <span ng-show="registerForm.errors.confirmedEmail" popover="{{registerForm.errors.confirmedEmail}}" popover-trigger="mouseenter"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': ((registerForm.password.$dirty && registerForm.password.$invalid) || registerForm.errors.password)}">
                        <label class="col-md-2 control-label" for="password">{{ 'PASSWORD' | translate }}</label>
                        <div class="col-md-10 lxvalidation">
                            <input type="password" ng-model="user.password" id="password" name="password" ng-keydown="registerForm.errors.password=false" placeholder="{{ 'ENTER_PASSWORD' | translate }}" class="form-control" required ui-reset>
                            <label ng-show="((registerForm.password.$dirty && registerForm.password.$invalid) || registerForm.errors.password)" style="cursor:pointer;" class="label label-danger">
                                <div class="glyphicon glyphicon-fire"></div>
                                <span ng-show="registerForm.password.$error.required" popover="{{ 'REQUIRED_PASSWORD' | translate }}" popover-trigger="mouseenter"></span>
                                <span ng-show="registerForm.errors.password" popover="{{registerForm.errors.password}}" popover-trigger="mouseenter"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': ((registerForm.confirmedPassword.$dirty && registerForm.confirmedPassword.$invalid) || registerForm.errors.confirmedPassword)}">
                        <label class="col-md-2 control-label" for="confirmedPassword">{{ 'PASSWORD_REPEAT' | translate}}</label>
                        <div class="col-md-10 lxvalidation">
                            <input type="password" ng-model="user.confirmedPassword" id="confirmedPassword" name="confirmedPassword" ng-keydown="registerForm.errors.confirmedPassword=false" placeholder="{{ 'ENTER_PASSWORD' | translate }}" class="form-control" required ui-reset>
                            <label ng-show="((registerForm.confirmedPassword.$dirty && registerForm.confirmedPassword.$invalid) || registerForm.errors.confirmedPassword)" style="cursor:pointer;" class="label label-danger">
                                <div class="glyphicon glyphicon-fire"></div>
                                <span ng-show="registerForm.confirmedPassword.$error.required" popover="{{ 'REQUIRED_PASSWORD' | translate }}" popover-trigger="mouseenter"></span>
                                <span ng-show="registerForm.errors.confirmedPassword" popover="{{registerForm.errors.confirmedPassword}}" popover-trigger="mouseenter"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input type="submit" class="btn btn-primary" value="&nbsp;{{ 'REGISTER' | translate }}"   ng-disabled="registerForm.$invalid" name="register">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>