<div class="beige-noise">
    <div class="p-wrapper">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'REGISTER' | translate }}</div>
            <div class="panel-body">

                <form class="form-horizontal" ng-submit="resetPassword()" name="resetForm" novalidate>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <span>Bitte geben Sie ein neues Passwort ein und bestätigen Sie ihre Eingabe.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': ((resetForm.password.$dirty && resetForm.password.$invalid) || resetForm.errors.password)}">
                        <label class="col-md-2 control-label" for="password">{{ 'PASSWORD' | translate }}</label>
                        <div class="col-md-10 lxvalidation">
                            <input type="password" ng-model="user.password" id="password" name="password" ng-keydown="resetForm.errors.password=false" placeholder="{{ 'ENTER_PASSWORD' | translate }}" class="form-control" required ui-reset>
                            <label ng-show="((resetForm.password.$dirty && resetForm.password.$invalid) || resetForm.errors.password)" style="cursor:pointer;" class="label label-danger">
                                <div class="glyphicon glyphicon-fire"></div>
                                <span ng-show="resetForm.password.$error.required" popover="{{ 'REQUIRED_PASSWORD' | translate }}" popover-trigger="mouseenter"></span>
                                <!--<span ng-show="resetForm.username.$error.minlength" popover="{{ 'MINLENGTH_NAME' | translate }}" popover-trigger="mouseenter"></span>-->
                                <span ng-show="resetForm.errors.password" popover="{{resetForm.errors.password}}" popover-trigger="mouseenter"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': ((resetForm.confirmedPassword.$dirty && resetForm.confirmedPassword.$invalid) || resetForm.errors.confirmedPassword)}">
                        <label class="col-md-2 control-label" for="confirmedPassword">{{ 'PASSWORD_REPEAT' | translate}}</label>
                        <div class="col-md-10 lxvalidation">
                            <input type="password" ng-model="user.confirmedPassword" id="confirmedPassword" name="confirmedPassword" ng-keydown="resetForm.errors.confirmedPassword=false" placeholder="{{ 'ENTER_PASSWORD' | translate }}" class="form-control" required ui-reset>
                            <label ng-show="((resetForm.confirmedPassword.$dirty && resetForm.confirmedPassword.$invalid) || resetForm.errors.confirmedPassword)" style="cursor:pointer;" class="label label-danger">
                                <div class="glyphicon glyphicon-fire"></div>
                                <span ng-show="resetForm.confirmedPassword.$error.required" popover="{{ 'REQUIRED_PASSWORD' | translate }}" popover-trigger="mouseenter"></span>
                                <span ng-show="resetForm.errors.confirmedPassword" popover="{{resetForm.errors.confirmedPassword}}" popover-trigger="mouseenter"></span>
                            </label>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input type="submit" class="btn btn-primary" value="&nbsp;{{ 'SAVE' | translate }}" name="register" ng-disabled="resetForm.$invalid">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>