<div class="p-wrapper">
    <div class="page-header">
        <h1>{{ 'ROLES' | translate}}</h1>
        <a ng-href="/admin/roles" name="back" >{{ 'BACK_TO_OVERVIEW' | translate }}</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ bbcForm.model._id ? 'EDIT_ROLE' : 'CREATE_ROLE' | translate }}</div>
        <div class="panel-body">
            <form name="form" class="form-horizontal" novalidate>
                <div class="form-group" ng-class="{'has-error': ((form.name.$dirty && form.name.$invalid) || form.errors.name)}">
                    <label class="col-lg-2 control-label" for="name">{{ 'NAME' | translate }}</label>
                    <div class="col-lg-10 lxvalidation">
                        <input type="text" class="form-control" ng-model="bbcForm.model.name" id="name" name="name" placeholder="{{ 'ENTER_NAME' | translate }}" required maxlength="100" ng-readonly="isReadOnly" />
                        <label ng-show="((form.name.$dirty && form.name.$invalid) || form.errors.name)" class="label label-danger">
                            <div class="glyphicon glyphicon-fire"></div>
                            <span ng-show="form.name.$error.required">{{ 'REQUIRED_NAME' | translate }}</span>
                            <span ng-show="form.errors.name">{{ form.errors.name | translate }}</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="description">{{ 'DESCRIPTION' | translate }}</label>
                    <div class="col-lg-10">
                        <textarea rows="6" type="text" class="form-control" id="description" name="description" ng-model="bbcForm.model.description" maxlength="5000" ng-readonly="isReadOnly"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="description">{{ 'RIGHTS' | translate }}</label>
                    <div class="col-lg-10">
                        <input ng-model="searchText" type="text" class="form-control" placeholder="{{ 'SEARCH_TEXT_PLACEHOLDER' | translate }}" />
                        <hr />
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="r in rights | filter:{ name: searchText } | orderBy:['-sort','name']" ng-style="setStyle(r);">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-click="r.checked = !r.checked" checklist-model="bbcForm.model.rights" checklist-value="r._id" /> {{ r.name }}
                                    </label>
                                    <div class="small"><em>{{ r.description }}</em></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary" ng-click="save(bbcForm.model)" name="save" ng-disabled="form.$invalid || bbcForm.isUnchanged()">{{ 'SAVE' | translate }}</button>
                        <button type="button" class="btn btn-default" ng-click="bbcForm.reset(form)" name="reset" ng-disabled="bbcForm.isUnchanged()">{{ 'RESET' | translate }}</button>
                        <a class="btn btn-default" ng-href="/admin/roles" ng-click="bbcForm.reset(form)" name="back" >{{ 'BACK' | translate }}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>