
@font-face
{
    font-family: 'Open Sans C';
    src: url('../fonts/OpenSans-CondLight.eot');
    src: url('../fonts/OpenSans-CondLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-CondLight.woff') format('woff'),
    url('../fonts/OpenSans-CondLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Open Sans B';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lobster C';
    src: url('../fonts/Lobster_1.3-webfont.eot');
    src: url('../fonts/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lobster_1.3-webfont.woff') format('woff'),
    url('../fonts/Lobster_1.3-webfont.ttf') format('truetype'),
    url('../fonts/Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans L';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-light-webfont.woff') format('woff'),
    url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}	


html, body {
	margin: 0;
	padding: 0;
	height: 100%;                /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 100% */
	/*background:#e01622;*/
	background:#971b22; /*aa1f27;*/	
	
	-webkit-font-smoothing: antialiased;			
}

.singlepageFrame {
	width: 100%;
	margin: auto;                /* Div soll zentriert werden */
	min-height: 100%;            /* Mindesth�he f�r moderne Browser */
	height:auto !important;      /* Important Regel f�r moderne Browser */
	height:100%; 				 /* Mindesth�he f�r den IE */
	overflow: hidden !important; /* FF Scroll-leiste */    
}


.col1{
	width:100%;
	position:fixed;
	top:0;
	right:0;			
	height:100%;
	overflow-y:auto;			
	padding:0 0 120px 0; /*Footer area ausgeblendet: im Javascript auch noch �ndern ACHTUNG!!!!!!!!!!!*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}	

.error_content{			
	height:100%;
	overflow:auto;
}

footer{
	height:120px;
	width:100%;
	background:white;
	position:fixed;
	bottom:0;
}
footer:before{
	content:" ";
	border-top:20px solid #971b22;
	border-left:17px solid transparent;
	border-right:17px solid transparent;
	position:absolute;
	top:0;
	left:190px;
}
footer img.baboonLogo{
	margin:15px;float:left;height:90px;
}
footer div.footerError {
	font-size:60px;color:#3e3634;font-family:'Open Sans C';line-height:120px;display:inline-block;float:right;margin-right:40px;
}
footer div.footerError span{
	color:#737375;font-family:'Open Sans';font-size:90px;font-weight:bold;
}
.container{width: 700px;margin:0 auto; padding:100px 0 0 0;}
.container table{
	width:100%;text-align:right;
}
thead th:first-child{
	border-bottom:2px solid #e03842;padding:10px 0;
}
thead th:last-child{
	border-bottom:2px solid #e03842;max-width:60px;position:relative;
}
tbody td:last-child{
	text-align:center;
}
tbody td:last-child img{
	margin:0;float:none;
}
span.errorMessage{
 font-size:30px;color:white;font-family:'Open Sans C';
}
span.errorStack{
    font-size:15px;color:white;font-family:'Open Sans C';
}
.container ul {
    font-size:20px;color:white;font-family:'Open Sans C';
}
span.errorType{
color:white;font-family:'Open Sans';font-weight:bold;font-size:16px;
}
span.dateTime{
	color:#e03842;font-size:25px;font-family:'Open Sans C';margin:0;padding:0;display:inline-block;
}
span.errorNumberBig{
	color:#e03842;font-family:'Open Sans';font-size:250px;line-height:160px;font-weight:bold;margin-right:10px;
}
div.errorRotate{
	color:white;font-family:'Open Sans';font-size:55px;font-weight:bold;-webkit-transform:rotate(-90deg);display:inline-block;margin:0;position:absolute;left:-60px;top:60px;
}

/*Developer Styles*/

.singlepageFrame.develop .col1{	
	padding:0 0 60px 0; 
}
.singlepageFrame.develop footer{
	height:60px;
}
.singlepageFrame.develop footer:before{
	border-top:15px solid #971b22;
	border-left:12px solid transparent;
	border-right:12px solid transparent;
	left:150px;
}
.singlepageFrame.develop footer img.baboonLogo{
	height:45px;margin:10px 70px;
}
.singlepageFrame.develop footer div.footerError {
	font-size:25px;line-height:60px;
}
.singlepageFrame.develop footer div.footerError  span{
	font-size:50px;
}
.singlepageFrame.develop .container{
	min-width: 800px; width:90%; max-width:1300px;margin:0 auto; padding:20px 0 0 0;
}
.singlepageFrame.develop span.errorMessage{
	font-size:20px;
}
.singlepageFrame.develop span.errorNumberBig{
	font-size:100px;line-height:50px;
}
.singlepageFrame.develop div.errorRotate{
	font-size:19px;left:-10px;top:13px;text-align:center;
}
