<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Baboon example app - index</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) styles/main/vendor.css -->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) styles/main/main.css -->
    <link rel="stylesheet" href="styles/main/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="main" translate-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="singlepageFrame" class="ng-cloak">
        <div class="header">
            <div class="p-wrapper">
                <div class="action-area">

                    <div class="login-area pull-right" ng-include="'common/popup_login/popup_login.html'"></div>

                    <div class="flag-area pull-right">
                        <div class="btn-group dark-select">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{ 'LANGUAGE_SELECT' | translate }}&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a ng-href="" ng-click="switchLocale('de-de')"><img src="assets/images/flag-germany48.png" width="48px" height="48px" title="Sprachauswahl: deutsche Sprache auswählen!"/>&nbsp;&nbsp;Deutsch</a>
                                    <a ng-href="" ng-click="switchLocale('en-us')"><img src="assets/images/flag-usa48.png" width="48px" height="48px" title="Language selection: select english language!"/>&nbsp;&nbsp;English</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <h3 class="text-muted">{{ 'APP_HEADER' | translate }}</h3>
            </div>
        </div>
        <!-- Add your site or application content here -->
        <div class="layout-content">
            <div class="col-left">
                <div class="container">
                    <bbc-navigation-tree></bbc-navigation-tree>
                </div>
            </div>
            <div class="col-right">
                <div class="container">
                    <!--<bbc-navigation type="sub"></bbc-navigation>-->
                    <!--<hr>-->
                    <!--<bbc-navigation type="top"></bbc-navigation>-->
                    <!--<hr>-->
                    <!--<bbc-navigation type="list"></bbc-navigation>-->
                </div>
            </div>
            <div class="col-center">
                <div class="view-container">
                    <div class="container" ng-view=""></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="footer">
            <p>♥ from the Baboon team</p>
        </div>
    </div>

    <!--[if lt IE 9]>
    <script src="assets/bower_components/es5-shim/es5-shim.js"></script>
    <script src="assets/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="/socket.io/socket.io.js"></script>

    <!-- build:js(client) scripts/main/vendor.js -->
    <script src="assets/bower_components/angular/angular.js"></script>
    <script src="assets/bower_components/angular-route/angular-route.js"></script>
    <script src="assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="assets/bower_components/angular-translate/angular-translate.js"></script>
    <script src="assets/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="assets/bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>

    <script src="assets/bower_components/angular-socket-io/socket.js"></script>
    <script src="assets/bower_components/baboon-client/modules/transport/transport.js"></script>
    <script src="assets/bower_components/baboon-client/modules/navigation/navigation.js"></script>
    <script src="assets/bower_components/baboon-client/modules/navigation/navigation.directives.js"></script>
    <script src="assets/bower_components/baboon-client/modules/session/session.js"></script>
    <script src="assets/bower_components/baboon-client/modules/form/form.js"></script>
    <script src="assets/bower_components/baboon-client/modules/cache/cache.js"></script>
    <script src="assets/bower_components/baboon-client/modules/reset/reset.js"></script>

    <script src="common/popup_login/popup_login.js"></script>

    <!-- endbuild -->

        <!-- build:js({.tmp,client}) scripts/main/scripts.js -->
        <script src="app/main/main.js"></script>
        <script src="app/main/about/about.js"></script>
        <script src="app/main/contact/contact.js"></script>
        <script src="app/main/home/home.js"></script>
        <!-- endbuild -->
</body>
</html>

