<div class="lx-modal-msg {{ modalOptions.cssClass }}">
    <div class="modal-header">
        <h4>{{ modalOptions.type }}</h4>
        <p>{{ modalOptions.headline }}</p>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span3">
                <div class="icon"></div>
            </div>
            <div class="span9">
                <h4>{{ modalOptions.message }}</h4>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="modalOptions.yes()" ng-show="!!modalOptions.actionYes">Yes</button>
        <button class="btn btn-primary" ng-click="modalOptions.no()" ng-show="!!modalOptions.actionNo">No</button>
        <button class="btn" ng-click="modalOptions.close()" ng-show="!!modalOptions.actionClose">Close</button>
        <button class="btn btn-primary" ng-click="modalOptions.ok()" ng-show="!!modalOptions.actionOk">Ok</button>
    </div>
</div>