<h1>extend</h1>

<hr>
<!-- ------------- -->
<!--*  Calendar    *-->
<!-- ------------- -->
<h1 ng-init="CalendarIsCollapsed = true" ng-click="CalendarIsCollapsed = !CalendarIsCollapsed" style="cursor:pointer;">Calendar</h1>
<div collapse="CalendarIsCollapsed" style="box-shadow:0 0 6px rgba(0,0,0,0.1);border-radius: 7px;background:#eee;">
    <div style="margin:10px;">
        <h3>AngularUI - Calendar</h3>
        <p>bringt Fehler da er Google-Kalender öffnet</p>
        <!-- Example Begin-->
        <div ng-controller="CalendarCtrl" class="row">
            <div class="span3">
                <button style="margin-bottom: 3px;" class="btn btn-primary" ng-click="addEvent()">Add Event</button>
                <ul>
                    <li ng-repeat="e in events" class="ng-scope">
                        <p class="alert alert-info ng-binding">
                            All Day Event
                            <a style="float: right; margin-top: -5px;" class="btn btn-danger" ng-click="remove($index)" href="">x</a>
                        </p>
                    </li>
                </ul>

            </div>
            <!--<div ui-calendar="{width: 400,height: 450,editable: true}" class="span8 calendar" ng-model="eventSources"></div>-->
        </div>
        <!-- Example End-->

    </div>
</div>

<hr>
<!-- ------------- -->
<!--*  CodeMirror    *-->
<!-- ------------- -->
<h1 ng-init="CodeMirrorIsCollapsed = true" ng-click="CodeMirrorIsCollapsed = !CodeMirrorIsCollapsed" style="cursor:pointer;">CodeMirror</h1>
<div collapse="CodeMirrorIsCollapsed" style="box-shadow:0 0 6px rgba(0,0,0,0.1);border-radius: 7px;background:#eee;">
    <div style="margin:10px;">
        <h3>AngularUI - CodeMirror</h3>

        <!-- Example Begin-->
        <div ng-controller="CodemirrorDemoCtrl">
            <textarea ui-codemirror="editorOptions" ng-model="codeMirrorModel"></textarea>
            <pre ng-bind="codeMirrorModel"></pre>
        </div>

        <!-- Example End-->
    </div>
</div>



<hr>
<!-- ------------- -->
<!--*  Datepicker  Timepicker  *-->
<!-- ------------- -->
<h1 ng-init="DatepickerIsCollapsed = true" ng-click="DatepickerIsCollapsed = !DatepickerIsCollapsed" style="cursor:pointer;">Datepicker - Timepicker</h1>
<div collapse="DatepickerIsCollapsed" style="box-shadow:0 0 6px rgba(0,0,0,0.1);border-radius: 7px;background:#eee;">
    <div style="margin:10px;">
        <h3>AngularUI - Datepicker</h3>

        <!-- Example Begin-->
        <input placeholder="Datum" ui-date />
        <p>benötigt:
        <ul>
            <li>angular-ui.min.js</li>
            <li>angular-ui.min.css</li>
            <li>jquery.min.js</li>
            <li>jquery-ui-1.10.2.custom.min.js</li>
        </ul>
        </p>
        <!-- Example End-->

    </div>
</div>


<hr>
<!-- ------------- -->
<!--*  Sortable    *-->
<!-- ------------- -->
<h1 ng-init="SortableIsCollapsed = true" ng-click="SortableIsCollapsed = !SortableIsCollapsed" style="cursor:pointer;color:red;">Sortable (external dependencies)</h1>
<div collapse="SortableIsCollapsed" style="box-shadow:0 0 6px rgba(0,0,0,0.1);border-radius: 7px;background:#eee;">
    <div style="margin:10px;">
        <h3>AngularUI - Sortable</h3>

        <!-- Example Begin-->
        <div ng-controller="SortableCtrl">
            <ul ui-sortable ng-model="parents">
                <li ng-repeat="parent in parents">
                    <h3>{{parent.name}}</h3>
                    <ul class="children"
                        ui-sortable="{connectWith:'.children'}"
                        ng-model="parent.children">
                        <li ng-repeat="child in parent.children">
                            {{child}}
                        </li>
                    </ul>
                </li>
            </ul>
            <hr>
            <ul ng-model="items" ui-sortable>
                <li>First</li>
                <li>Second</li>
                <li>Third</li>
            </ul>
        </div>
        <!-- Example End-->

    </div>
</div>



<hr>
<!-- ------------- -->
<!--*  TinyMCE (problematisch)    *-->
<!-- ------------- -->
<h1 ng-init="TinyMCEIsCollapsed = true" ng-click="TinyMCEIsCollapsed = !TinyMCEIsCollapsed" style="cursor:pointer;color:red;">TinyMCE (external dependencies)</h1>
<div collapse="TinyMCEIsCollapsed" style="box-shadow:0 0 6px rgba(0,0,0,0.1);border-radius: 7px;background:#eee;">
    <div style="margin:10px;">
        <h3>AngularUI - TinyMCE</h3>

        <!-- Example Begin-->
        <textarea ui-tinymce ng-model="tinymce" ng-init="tinymce='test'"></textarea>
        <p>{{tinymce}}</p>
        <!-- Example End-->

    </div>
</div>

<div style="display:table-cell;width:49%;" class="alert alert-danger">
    <h3>AngularUI - Select2</h3>

    <!-- Example Begin-->
    <h4>Link noch nicht möglich</h4><p>http://ivaynberg.github.com/select2/select2-3.2/select2.js</p>
    <!--<p>Value is: {{select2}} <a ng-click="select2='two'">(choose second)</a></p>-->
    <!--<select ui-select2 ng-model="select2">-->
    <!--<option value="">Pick a number</option>-->
    <!--<option value="one">First</option>-->
    <!--<option value="two">Second</option>-->
    <!--<option value="three">Third</option>-->
    <!--</select>-->
    <!-- Example End-->

</div>