<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title><% if(locals.title){ %><%= locals.title %><% } %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(locals.description){ %><meta name="description" content="<%= locals.description %>"><% } %>
    <% if(locals.keywords){ %><meta name="keywords" content="<%= locals.keywords %>"><% } %>
    <% if(locals.author){ %><meta name="author" content="<%= locals.author %>"><% } %>