<!DOCTYPE html>
<html>
<head>
    <title>404 Not found</title>
    <link rel='stylesheet' href='css/errorStyle.css' />
</head>
<body>
<div class="singlepageFrame">
    <div class="col1">
        <div class="error_content">
            <div class="container">
                <table>
                    <colgroup>
                        <col />
                        <col width="60" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th><span class="errorNumberBig">404</span></th>
                        <th><div class="errorRotate">ERROR</div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span class="errorMessage">Server cannot find the resource you requested.</span></td>
                        <td><img src="img/message.png" /></td>
                    </tr>
                    <tr>
                        <td style="padding:10px 0;">
                            <span class="errorType">404 Not found</span>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <img class="baboonLogo" src="img/baboon.png" />
        <div class="footerError">ERROR <span>404</span></div>
    </footer>
</div>
</body>
</html>