<div class="beige-noise">
    <div class="p-wrapper">

        <div class="page-header">
            <h1>Messageboxen und Popups</h1>
        </div>

        <p>Baboons beinhaltet einen integrierten Popup- und Messagebox-Service, lxModal. Dieser baut auf die Modal-Directiven von Angular-UI-Bootstrap auf.</p>

        <br>
        <h4>Wie bekomme ich lxModal zum laufen?</h4>
        <p>Um lxModal nutzen zu können müssen sie zu aller erst den lxModal Service in ihrem Controller injekten.</p>

        <div hljs>
angular.module('modalExample', [])
.controller('modalExampleCtrl', ['$scope','lxModal', function ($scope, lxModal) {

    ...

}]);</div>

        <br>
        <p>Damit ihr Popup-Fenster angezeigt werden kann, müssen sie <code>lxModal.msgBox()</code> rufen. Die Methode benötigt folgende Parameter:</p>

<div hljs>
    lxModal.msgBox(id, backdrop, headline, message, type, callObj, cssClass);</div>

        <table class="table">
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Type</th>
                    <th>Discription</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>id</td>
                    <td>[string]</td>
                    <td>ein eindeutiger Bezeichner wie zum Beispiel "DeleteInvoice"</td>
                </tr>
                <tr>
                    <td>backdrop</td>
                    <td>[bool]</td>
                    <td>wenn <code>true</code> gesetzt wird die komplette Seite abgedunkelt und man bekommt ein modales Popup, bei <code>false</code> erhält man ein nicht modales Popup ohne Abdunklung</td>
                </tr>
                <tr>
                    <td>headline</td>
                    <td>[string]</td>
                    <td>eine kurze Überschrift</td>
                </tr>
                <tr>
                    <td>message</td>
                    <td>[string]</td>
                    <td>die eigentliche Nachricht für das Popup-Fenster</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>[string]</td>
                    <td>gibt an ob es sich um eine Warnung oder einen Fehler handelt und steuert damit das Aussehen des Popups, Werte: <code>Warning</code> oder <code>Error</code> </td>
                </tr>
                <tr>
                    <td>callObj</td>
                    <td>[object]</td>
                    <td>wenn benötigt wird hier ein Object aus Callbacks übergeben. Die Benamung der Callbacks steuert die Anzeige der Buttons im Popup. Das Weglassen von callObj führt dazu, dass keine Buttons angezeigt werden. Sollte das Popup modal sein und keine Buttons haben, könnte es nicht mehr geschlosssen werden.<br>
                        Es stehen 4 Callbacks zur Verfügung <code>cbYes</code>, <code>cbNo</code>, <code>cbOk</code> und <code>cbClose</code>
                    </td>
                </tr>
                <tr>
                    <td>cssClass</td>
                    <td>[string]</td>
                    <td>hier kann eine Css-Klasse übergeben werden, die das Aussehen des Popups verändert</td>
                </tr>
            </tbody>
        </table>



<!--<div hljs>-->
<!--pub.msgBox = function (id, backdrop, headline, message, type, callObj, cssClass) {-->
    <!--...-->
<!--}</div>-->

        <p><code>callObj</code> steuert wie bereits beschrieben die Anzeige der Buttons im Popup.</p>
        <div hljs>
{
    cbYes: function () {
            //do something when yes button was clicked
    },
    cbNo: function () {
            //do something when no button was clicked
    },
    cbOk: function () {
            //do something when Ok button was clicked
    },
    cbClose: function () {
            //do something when close button was clicked
    }
}</div>

        <div class="panel panel-info">
            <div class="panel-heading">Example Popup</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-info" ng-click="popupYesNo()">Ja/Nein Popup öffnen</button>
                        <button class="btn btn-info" ng-click="popupOkClose()">Ok/Close Popup öffnen</button>
                        <button class="btn btn-info" ng-click="popupModal()">Modal Popup öffnen</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div style="border: 2px dotted #808080; min-height: 100px; padding: 0.5em; margin-bottom: 1em">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br><br>
        <h4>Kann ich die Nachricht des Popups nachträglich ändern?</h4>
        <p>Ja dies ist ohne Probleme möglich. Manchmal ist es notwendig eine Nachricht nachträglich zu ändern, zum Beispiel bei einem Popup welches den User über mehrere Verbindungsversuche informiert und die Versuche zählt.</p>

<div hljs>
lxModal.updateMsg(id, msg);</div>

        <div class="panel panel-info">
            <div class="panel-heading">Example - Update Popup</div>
            <div class="panel-body">
                <p>3 Sekunden nach dem Öffnen des Popups wird <code>lxModal.updateMsg()</code> aufgerufen und die Nachricht dynamisch geändert.</p>
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-info" ng-click="popupModalUpdate()">Ok/Close Popup öffnen</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div style="border: 2px dotted #808080; min-height: 100px; padding: 0.5em; margin-bottom: 1em">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
