<div class="modal-header">
    <h3>{{ 'CHANGE_PASSWORD' | translate }}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" ng-submit="save()" name="form" novalidate>
        <div class="form-group" ng-class="{'has-error': bbcForm.model.current_password.$dirty && bbcForm.model.current_password.$invalid}">
            <label class="col-md-3 control-label" for="current_password">{{ 'CURRENT_PASSWORD' | translate }}*</label>

            <div class="col-md-9 lxvalidation">
                <input type="password" ng-model="bbcForm.model.current_password" id="current_password" name="current_password" class="form-control" required maxlength="1000">
                <label ng-show="(form.current_password.$dirty && form.current_password.$invalid) || form.errors.current_password" class="label label-danger">
                    <div class="glyphicon glyphicon-fire"></div>
                    <span ng-show="form.current_password.$error.required">{{ 'REQUIRED_CURRENT_PASSWORD' | translate }}</span>
                </label>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': bbcForm.model.new_password.$dirty && bbcForm.model.new_password.$invalid}">
            <label class="col-md-3 control-label" for="new_password">{{ 'NEW_PASSWORD' | translate }}*</label>

            <div class="col-md-9 lxvalidation">
                <input type="password" ng-model="bbcForm.model.new_password" id="new_password" name="new_password" class="form-control" required maxlength="1000">
                <label ng-show="(form.new_password.$dirty && form.new_password.$invalid) || form.errors.new_password" class="label label-danger">
                    <div class="glyphicon glyphicon-fire"></div>
                    <span ng-show="form.new_password.$error.required">{{ 'REQUIRED_NEW_PASSWORD' | translate }}</span>
                </label>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': bbcForm.model.new_password_confirmed.$dirty && bbcForm.model.new_password_confirmed.$invalid}">
            <label class="col-md-3 control-label" for="new_password_confirmed">{{ 'NEW_PASSWORD_CONFIRMED' | translate }}*</label>

            <div class="col-md-9 lxvalidation">
                <input type="password" ng-model="bbcForm.model.new_password_confirmed" id="new_password_confirmed" name="new_password_confirmed" class="form-control" required maxlength="1000">
                <label ng-show="(form.new_password_confirmed.$dirty && form.new_password_confirmed.$invalid) || form.errors.new_password_confirmed" class="label label-danger">
                    <div class="glyphicon glyphicon-fire"></div>
                    <span ng-show="form.new_password_confirmed.$error.required">{{ 'REQUIRED_NEW_PASSWORD_CONFIRMED' | translate }}</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <input type="reset" class="btn btn-default btn-equal" ng-click="cancel()" value="{{ 'CANCEL' | translate }}"/>
                <input type="submit" class="btn btn-primary" value="{{ 'SAVE' | translate }}" ng-disabled="form.$invalid" />
            </div>
        </div>
    </form>

    <div class="alert alert-danger alert-dismissable" ng-show="item.error">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="item.error = null">&times;</button>
        {{ item.error }}
    </div>
</div>