<div class="modal-header">
    <h3>{{ 'SETTINGS' | translate }}</h3>
</div>
<div class="modal-body">
    <form name="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-3 control-label">{{ 'LANGUAGE' | translate }}</label>
            <div class="col-lg-9">
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <img style="height: 20px;" ng-src="{{ lxForm.model.language.flagURL }}"/> {{ lxForm.model.language }}&nbsp;&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-class="{active: lxForm.model.language === lang.code}" ng-repeat="lang in languages track by lang.code">
                            <a dropdown-toggle style="cursor: pointer;" ng-click="lxForm.model.language = lang.code"><img style="width: 30px;" ng-src="{{ lang.flagURL }}"/>&nbsp;&nbsp;{{ lang.name | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Test</label>
            <div class="col-lg-9">
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        {{ lxForm.model.test }}&nbsp;&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="te in test">
                            <a dropdown-toggle style="cursor: pointer;" ng-click="lxForm.model.test = te">{{ te }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-lg-3 control-label">{{ 'DEFAULT_VIEW' | translate }}</label>-->
            <!--<div class="col-lg-9">-->
                <!--<div class="btn-group" dropdown>-->
                    <!--<button type="button" class="btn btn-default dropdown-toggle">-->
                        <!--<i ng-class="lxForm.model.default_view.cssClass"></i>&nbsp;&nbsp; {{ lxForm.model.default_view.name | translate }}&nbsp;&nbsp;<span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li ng-class="{active: lxForm.model.default_view.name === view.name}" ng-repeat="view in views track by view.name">-->
                            <!--<a href="#" ng-click="lxForm.model.default_view = view"><i class="{{ view.cssClass }}"></i>&nbsp;&nbsp; {{ view.name | translate }}</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="col-lg-3 control-label" for="theme_find">{{ 'THEME_FIND' | translate }}</label>-->
            <!--<div class="col-lg-9">-->
                <!--<select id="theme_find" name="theme_find" ng-model="lxForm.model.theme_find" ng-options="t for t in themes" class="form-control"></select>-->
            <!--</div>-->
        <!--</div>-->

    </form>

    <div class="alert alert-danger alert-dismissable" ng-show="item.error">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="item.error = null">&times;</button>
        {{ item.error }}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-equal" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
    <button class="btn btn-default btn-equal" ng-click="lxForm.reset(form)" name="reset" ng-disabled="lxForm.isUnchanged()">{{ 'RESET' | translate }}</button>
    <button class="btn btn-primary btn-equal" type="submit" ng-click="save()" ng-disabled="form.$invalid || lxForm.isUnchanged()">{{ 'SAVE' | translate }}</button>
</div>