<div class="content beige-noise blog-container" fadey="500">
    <div class="p-wrapper">

        <!--<img src="/img/blog-header.png">-->

        <!--<a href="/blog/post/new" name="newPost">New Post</a>-->

        <!--<h1>Latest Articles</h1><span><%=list.length%> available, showing recent 3</span>-->
        <h1>Latest Articles
            <span>( {{pager.count}} available, showing recent {{pager.pageSize}} ) Page: {{pager.currentPage}}, sum: {{pager.numberOfPages()}}</span>
        </h1>
            <!--<button ng-click="pager.firstPage()">firstPage</button>-->
            <!--<button ng-click="pager.previousPage()">prevPage</button>-->
            <!--<button ng-click="pager.nextPage()">nextPage</button>-->
            <!--<button ng-click="pager.lastPage()">lastPage</button>-->
            <pagination style="display: inline" boundary-links="true" num-pages="pager.numberOfPages()" current-page="pager.currentPage" max-size="3">
            </pagination>
            <input type="text" ng-model="searchValue" placeholder="Search..."><button ng-click="searchPosts(searchValue)">Search</button>

        <article class="posts-article" ng-repeat="entry in posts">
            <div class="entry-title">
                <h1>
                    <a href="/blog/post/{{entry._id}}" title="{{entry.title}}">{{entry.title}}</a>
                </h1>

                <div class="entry-replies">
                    <a href="/blog/post/{{entry._id}}">{{entry.comments.length}} Antworten</a>
                </div>
            </div>
            <div class="entry-excerpt">
                <p>{{entry.content}}</p>

                <a href="/blog/post/{{entry._id}}" class="btn" style="padding:3px 15px;border-radius: 6px;"><span style="font-size:15px;color:white;font-weight:normal;line-height:25px;">mehr...</span></a>
                <!--<a href="/blog/post/edit/{{entry._id}}" class="btn" style="padding:3px 15px;border-radius: 6px;"><span style="font-size:15px;color:white;font-weight:normal;line-height:25px;">Edit</span></a>-->
                <!--&lt;!&ndash;<% if(auth.valid && auth.isAdmin){ %>&ndash;&gt;-->
                <!--<a ui-if="false" href="{{entry._id}}" class="publishBtn btn" style="padding:3px 15px;border-radius: 6px;">-->
                    <!--<span style="font-size:15px;color:white;font-weight:normal;line-height:25px;" ui-if="entry.hidden">publish</span>-->
                    <!--<span style="font-size:15px;color:white;font-weight:normal;line-height:25px;" ui-if="!entry.hidden">unpublish</span>-->
                <!--</a>-->
            </div>
            <footer class="entry-meta">Dieser Artikel wurde am {{ entry.created | date:'dd.MM.yyyy, HH:mm' }} Uhr erstellt</footer>
        </article>

    </div>
</div>