<div>
    <div class="p-wrapper">
        <h2>Latest Articles</h2>

        <div class="btn-group">
            <div class="input-prepend input-append">
                <button class="btn" ng-click="pager.firstPage()" ng-disabled="pager.currentPage == 1">
                    <i class="icon-step-backward"></i></button>
                <button class="btn" ng-click="pager.previousPage()" ng-disabled="pager.currentPage == 1">
                    <i class="icon-backward"></i></button>
                <input type="text" ng-model="pager.currentPage" style="width: 30px;">
                <button class="btn">of {{pager.numberOfPages()}}</button>
                <button class="btn" ng-click="pager.nextPage()" ng-disabled="pager.currentPage == pager.numberOfPages()">
                    <i class="icon-forward"></i></button>
                <button class="btn" ng-click="pager.lastPage()" ng-disabled="pager.currentPage == pager.numberOfPages()">
                    <i class="icon-step-forward"></i></button>
                <select ng-model="pager.pageSize" ng-options="p for p in pager.pageSizes" style="width: 70px;"></select>
                <button class="btn">{{pager.count}} items</button>
            </div>
        </div>

        <div class="btn-group">
            <div class="input-prepend input-append">
                <input type="text" ng-model="searchValue" placeholder="Search...">
                <button class="btn" ng-click="searchPosts(searchValue)">Search</button>
            </div>
        </div>

        <ul class="inline">
            <li ng-repeat="tag in tags | notZero">
                <button class="btn btn-info" ng-click="searchPosts(tag._id)">{{tag.name}}({{tag.count}})</button>
            </li>
        </ul>

        <article class="posts-article" ng-repeat="entry in posts">
            <div class="entry-title">
                <h1>
                    <a href="/blog/post/{{entry._id}}" title="{{entry.title}}">{{entry.title}}</a>
                </h1>

                <div class="entry-replies">
                    <a href="/blog/post/{{entry._id}}">{{entry.comments.length}} Antworten</a>
                </div>
            </div>

            <div class="entry-excerpt">
                <p>{{entry.content}}</p>
                  <br />
                <a href="/blog/post/{{entry._id}}" class="btn btn-mini">mehr...</a>
            </div>
            <footer class="entry-meta">Dieser Artikel wurde am {{ entry.created | date:'dd.MM.yyyy, HH:mm' }} Uhr erstellt</footer>
        </article>
    </div>
</div>