<div>
    <h1>{{post.title}}</h1>

    <p>
        {{post.comments}}

    </p>
</div>

    <textarea ng-model="text">

    </textarea>

    <markdown ng-model="text">

    </markdown>

<div class="content beige-noise blog-container" fadey="500">
    <div class="p-wrapper">
        <style>
            .ui-show {
                /*color: blue;*/
                opacity: 1;
                -webkit-transition: all 0.5s ease;
            }

            .ui-hide {
                opacity: 0;
                -webkit-transition: all 0.5s ease;

            }
        </style>

        <div style="border-radius:7px;box-shadow:0 0 6px rgba(0,0,0,0.4);border:4px solid rgba(255,255,255,1);text-shadow:0 1px 4px rgba(0,0,0,0.4);font-family:'Open Sans B';color:white;font-size:20px;margin:20px 0;padding:10px 20px;background:-webkit-linear-gradient(top,rgba(255,0,0,0.5),rgba(255,0,0,0.8));" ui-if="post.hidden">
            <span>This article is not published!</span>
        </div>

        <div ui-if="auth.valid && auth.isAdmin" style="width: 100%;margin: 5px 0 5px 0;border: 5px solid rgba(245,245,245,0.7);box-shadow: 0 0 4px rgba(0,0,0,0.1);border-radius: 7px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
            <div id="articleEditBtnGroup" style="display:block;background:rgba(255,255,255,0.4);border: 1px solid rgba(0,0,0,0.08);padding:5px;border-radius: 5px;">
                <button ui-if="!editmode" ng-click="edit(post._id)">edit</button>
                <button ui-if="editmode" ng-click="save(post._id)">save</button>
                <button ui-if="!editmode"><span ui-if="!post.hidden">un</span>publish</button>
                <button ui-if="editmode" ng-click="reset(post._id)">cancel</button>
                <button ui-if="!editmode" ng-click="delete(post._id)">delete</button>
            </div>
        </div>

        <style>

            input[type=text] {
                width: 100%;
                padding: 5px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -ms-box-sizing: border-box;
                font-size: 20px;
                outline: 0;
                background: #f3f3f3;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset;
                border: 1px solid #bbb;
                font-size: 18px;
                color: rgb(105, 105, 105);
                border-radius: 6px;
            }

            input[type=text].ng-invalid {
                border: 1px solid #ff8080;
                background: #fdefef;
            }

            .ui-reset {
                width: 14px;
                height: 14px;
                margin: 5px;
                line-height: 14px;
                vertical-align: text-top;
                display: inline-block;
                background-color: red;
                background-position: 14px 14px;
                background-repeat: no-repeat;
                background-position: -48px -96px;
            }

        </style>

        <div id="editorArea" ui-if="auth.valid && auth.isAdmin" ui-if="editmode" >
            <ul style="list-style-type: none;margin:0;padding:0;">
                <li style="margin:0;padding:0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
                    <div style="display:table;width: 100%;margin: 5px 0 5px 0;border: 5px solid #F5F5F5;box-shadow: 0 0 6px rgba(0,0,0,0.3);border-radius: 7px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
                        <div style="display:table-row;background:white;border: 1px solid rgba(0,0,0,0.08);border-radius:5px;width:100%;">
                            <label style="display:table-cell;width:140px;text-align:left;font-family:'Open Sans L';padding:0 5px;">Überschrift</label>

                            <div style="display:table-cell;">
                                <input id="newArticleHeadline" placeholder="required" required ng-model="post.title" ui-reset type="text" />
                            </div>
                        </div>
                    </div>
                </li>
                <li style="margin:0;padding:0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
                    <div style="display:table;width: 100%;margin: 5px 0 5px 0;border: 5px solid #F5F5F5;box-shadow: 0 0 6px rgba(0,0,0,0.3);border-radius: 7px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
                        <div style="display:table-row;background:white;border: 1px solid rgba(0,0,0,0.08);border-radius:5px;width:100%;">
                            <label style="display:table-cell;width:140px;text-align:left;font-family:'Open Sans L';padding:0 5px;">Tags</label>

                            <div style="display:table-cell;"><!--  value="{{article.tags.toString()}}" -->
                                <input id="newArticleTags" lx-autocomplete="tags" ng-model="article.tags" type="text" style="width:100%;padding:5px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;font-size:20px;outline:0;background:#f3f3f3;box-shadow:0 0 6px rgba(0,0,0,0.2) inset;border:1px solid #bbb;font-size:18px;color:rgb(105,105,105);border-radius:6px;" />
                            </div>
                        </div>
                    </div>
                </li>
                <li style="margin:0;padding:0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
                    <div style="display:table;width: 100%;margin: 5px 0 5px 0;border: 5px solid #F5F5F5;box-shadow: 0 0 6px rgba(0,0,0,0.3);border-radius: 7px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
                        <div style="display:table-row;background:white;border: 1px solid rgba(0,0,0,0.08);border-radius:5px;width:100%;">
                            <label style="display:table-cell;width:140px;text-align:left;font-family:'Open Sans L';padding:0 5px;">Kategorie</label>

                            <div style="display:table-cell;">
                                <input id="newArticleCategory" ng-model="article.category.catName" type="text" style="width:100%;padding:5px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;font-size:20px;outline:0;background:#f3f3f3;box-shadow:0 0 6px rgba(0,0,0,0.2) inset;border:1px solid #bbb;font-size:18px;color:rgb(105,105,105);border-radius:6px;" />
                                <input ng-model="date" ui-date>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div id="markdownEditContainer">
                <div id="articleeditor" style="/*display: none;*/">
                    <div class="row" id="articleeditframe" style="/*opacity: 0;*/">
                        <div class="span16">
                            <textarea id="edit" ng-bind="article.markdown"></textarea>
                            <br style="clear:both" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <article id="singleArticleArea" class="full-post" style="margin-bottom: 60px;"> <!-- ui-toggle="!editmode" -->
            <div style="display:table;width:100%;">

                <div style="display:table-row;text-align:right;">
                    <ul class="tag-list" style="font-size:14px;display:inline-block;text-align: left;padding:10px 20px;background: rgba(255,255,255,0.6);border:5px solid rgba(255,255,255,0.9);border-radius:7px;box-shadow:0 0 8px rgba(0,0,0,0.2);margin-top:10px;">
                        <li>
                            <label style="font-family:'Open Sans L';width:90px;display:inline-block;">Created: </label>
                            <span style="font-family:'Open Sans B';">{{post.created  | date:'dd.MM.yyyy, HH:mm '}}</span>
                        </li>
                        <li>
                            <label style="font-family:'Open Sans L';width:90px;display:inline-block;">Author: </label>
                            <span style="font-family:'Open Sans B';">{{post.author}}</span>
                        </li>
                        <li>
                            <label style="font-family:'Open Sans L';width:90px;display:inline-block;">Category: </label>
                            <span style="font-family:'Open Sans B';">{{article.category.catName}}</span>
                        </li>
                        <li>
                            <label style="font-family:'Open Sans L';width:90px;display:inline-block;">Tags</label>
                            <span ng-bind="article.tags"></span>
                            <!--<span style="font-family:'Open Sans B';" ng-repeat="tags in article.tags"><a href="/tag-{{tags}}.html">{{tags}}, </a></span>-->
                        </li>
                    </ul>
                </div>
                <div style="display:table-row;vertical-align: middle;">
                    <h1 id="PostHeadline" style="margin-top:10px;">{{article.title}}</h1>
                </div>

            </div>

                                                                                        <!--<div id="supertestMD">{{markdownToHtml(article.markdown)}}</div>-->
                                                                                        <!--<div ng-bind-html-unsafe='article.markdown | mdToHtml'></div>-->

            <div lx-md-to-html="article.markdown"></div>
            <div id="articlemarkdown" style="display:none;">{{article.markdown}}</div>

        </article>

    </div>
</div>
<div class="content beige-noise" fadey="450">
    <div class="p-wrapper">

        <div id="commentArea" style="display:none;/*opacity:0;*/">
            <ul style="list-style-type: none;margin:0;padding:0;">
                <li style="margin:0;padding:0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
                    <div style="display:table;width: 100%;margin: 5px 0 5px 0;border: 5px solid #F5F5F5;box-shadow: 0 0 6px rgba(0,0,0,0.3);border-radius: 7px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
                        <div style="display:table-row;background:white;border: 1px solid rgba(0,0,0,0.08);border-radius:5px;width:100%;">
                            <label style="display:table-cell;width:140px;text-align:left;font-family:'Open Sans L';padding:0 5px;">Überschrift</label>

                            <div style="display:table-cell;">
                                <input id="newCommentSubject" value="" type="text" style="width:100%;padding:5px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;font-size:20px;outline:0;background:#f3f3f3;box-shadow:0 0 6px rgba(0,0,0,0.2) inset;border:1px solid #bbb;font-size:18px;color:rgb(105,105,105);border-radius:6px;" />
                            </div>
                        </div>
                    </div>
                </li>
                <li style="margin:0;padding:0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
                    <div style="display:table;width: 100%;margin: 5px 0 5px 0;border: 5px solid #F5F5F5;box-shadow: 0 0 6px rgba(0,0,0,0.3);border-radius: 7px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
                        <div style="display:table-row;background:white;border: 1px solid rgba(0,0,0,0.08);border-radius:5px;width:100%;">
                            <label style="display:table-cell;width:140px;text-align:left;font-family:'Open Sans L';padding:0 5px;">Autor</label>

                            <div style="display:table-cell;">
                                <input id="newCommentAuthor" disabled="disabled" value="root" type="text" style="width:100%;padding:5px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;font-size:20px;outline:0;background:#ddd;box-shadow:0 0 6px rgba(0,0,0,0.2) inset;border:1px solid #bbb;font-size:18px;color:rgb(105,105,105);border-radius:6px;" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div id="markdownCommentContainer">
                <div id="commenteditor" style="/*display: none;*/">
                    <div class="row" id="commenteditframe" style="/*opacity: 0;*/">
                        <div class="span16">
                            <textarea id="comment" style="">Kommentar</textarea>
                            <br style="clear:both" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 100%;margin: 5px 0 5px 0;border: 5px solid rgba(245,245,245,0.7);box-shadow: 0 0 4px rgba(0,0,0,0.1);border-radius: 7px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;">
            <div id="commentEditBtnGroup" style="display:block;background:rgba(255,255,255,0.4);border: 1px solid rgba(0,0,0,0.08);padding:5px;border-radius: 5px;">
                <button id="commentBtn" ui-if="auth.valid" data-id="{{article._id}}">Comment</button>
                <button data-id="{{article._id}}" ui-if="!auth.valid" class="BlogLogin">Login to comment</button>
            </div>
        </div>

        <!--<% for(var x=0 ; x < comments.length; x++){ %>-->
        <article class="comment-article" ng-repeat="comment in comments">
            <header>
                <h1>{{comment.subject}}</h1>
                <span>Dieser Artikel wurde am {{comment.created  | date:'d.MM.yyyy, HH:mm '}} von {{ comment.author.userName}} erstellt</span>
            </header>
            <div class="entry-excerpt" lx-md-to-html="comment.body"></div>
            <div class="entry-excerpt" ui-if="auth.valid && (comment.author._id == auth.userID)">
                <!-- <% if(auth.valid && (comments[x].author._id == auth.userID)){ %>-->
                <a href="{{comment._id}}.article" class="btn" style="padding:3px 15px;border-radius: 6px;"><span style="font-size:15px;color:white;font-weight:normal;line-height:25px;">Edit</span></a>
                <!-- <% } %>-->
            </div>
        </article>
        <!--<% }%>-->

    </div>
</div>