<div class="p-wrapper">
    <div class="page-header">
        <h1>{{ 'USERS' | translate}}</h1>
        <a ng-href="/admin/users" name="back" >{{ 'BACK_TO_OVERVIEW' | translate }}</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ bbcForm.model._id ? 'EDIT_USER' : 'CREATE_USER' | translate }}</div>
        <div class="panel-body">
            <form name="form" class="form-horizontal" novalidate>
                {{ getRightName('ff') }}

                <div class="form-group" ng-class="{'has-error': ((form.name.$dirty && form.name.$invalid) || form.errors.name)}">
                    <label class="col-lg-2 control-label" for="name">{{ 'NAME' | translate }}</label>
                    <div class="col-lg-10 lxvalidation">
                        <input type="text" class="form-control" ng-model="bbcForm.model.name" id="name" name="name" placeholder="{{ 'ENTER_NAME' | translate }}" required ng-disabled="bbcForm.model.isGuest" />
                        <label ng-show="((form.name.$dirty && form.name.$invalid) || form.errors.name)" class="label label-danger">
                            <div class="glyphicon glyphicon-fire"></div>
                            <span ng-show="form.name.$error.required">{{ 'REQUIRED_NAME' | translate }}</span>
                            <span ng-show="form.errors.name">{{form.errors.name}}</span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">{{ 'IS_ACTIVE' | translate }}</label>
                    <div class="col-lg-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="bbcForm.model.is_active"  ng-disabled="bbcForm.model.isGuest">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': ((form.email.$dirty && form.email.$invalid) || form.errors.email)}">
                    <label class="col-lg-2 control-label" for="email">{{ 'MAIL' | translate }}</label>
                        <div class="col-lg-10 lxvalidation">
                        <input type="text" class="form-control" ng-model="bbcForm.model.email" id="email" name="email" placeholder="{{ 'ENTER_MAIL' | translate }}" required ng-disabled="bbcForm.model.isGuest" />
                        <label ng-show="((form.email.$dirty && form.email.$invalid) || form.errors.email)" class="label label-danger">
                            <div class="glyphicon glyphicon-fire"></div>
                            <span ng-show="form.email.$error.required">{{ 'REQUIRED_MAIL' | translate }}</span>
                            <span ng-show="form.errors.email">{{form.errors.email}}</span>
                            <!--<span ng-show="form.errors.email" popover="{{form.errors.email}}" popover-trigger="mouseenter"></span>-->
                        </label>
                    </div>
                </div>

                <div ng-if="!bbcForm.model._id" class="form-group" ng-class="{'has-error': ((form.password.$dirty && form.password.$invalid) || form.errors.password)}">
                    <label class="col-lg-2 control-label" for="password">{{ 'PASSWORD' | translate }}</label>
                    <div class="col-lg-10 lxvalidation">
                        <input type="password" class="form-control" ng-model="bbcForm.model.password" id="password" name="password" placeholder="{{ 'ENTER_PASSWORD' | translate }}" ng-disabled="bbcForm.model.isGuest" />
                        <label ng-show="((form.password.$dirty && form.password.$invalid) || form.errors.password)" class="label label-danger">
                            <div class="glyphicon glyphicon-fire"></div>
                            <span ng-show="form.password.$error.required">{{ 'REQUIRED_PASSWORD' | translate }}</span>
                            <span ng-show="form.errors.password">{{form.errors.password}}></span>
                        </label>
                    </div>
                </div>

                <div ng-if="!bbcForm.model._id"  class="form-group" ng-class="{'has-error': ((form.confirmed_password.$dirty && form.confirmed_password.$invalid) || form.errors.confirmed_password || !isPasswordConfirmed())}">
                    <label class="col-lg-2 control-label" for="confirmed_password">{{ 'CONFIRM_PASSWORD' | translate }}</label>
                    <div class="col-lg-10 lxvalidation">
                        <input type="password" class="form-control" ng-model="bbcForm.model.confirmed_password" id="confirmed_password" name="confirmed_password" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}" ng-disabled="bbcForm.model.isGuest" />
                        <label ng-show="((form.confirmed_password.$dirty && form.confirmed_password.$invalid) || form.errors.confirmed_password || !isPasswordConfirmed())" style="cursor:pointer;" class="label label-danger">
                            <div class="glyphicon glyphicon-fire"></div>
                            <span ng-show="form.confirmed_password.$error.required">{{ 'REQUIRED_PASSWORD' | translate }}</span>
                            <span ng-show="form.errors.confirmed_password">{{form.errors.confirmed_password}}</span>
                            <span ng-show="!isPasswordConfirmed()">{{ 'CONFIRM_PASSWORD' | translate }}</span>
                        </label>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': ((form.language.$dirty && form.language.$invalid) || form.errors.language)}">
                    <label class="col-lg-2 control-label" for="language">{{ 'LANGUAGE' | translate }}</label>
                    <div class="col-lg-10 lxvalidation">
                        <select class="form-control" ng-model="bbcForm.model.language" ng-options="lang.value as lang.key | translate for lang in languages" id="language" name="language" ng-disabled="bbcForm.model.isGuest">
                            <option value="">{{ 'DEFAULT_LANGUAGE' | translate }}</option>
                        </select>
                        <label ng-show="((form.language.$dirty && form.language.$invalid) || form.errors.language)" class="label label-danger">
                            <div class="glyphicon glyphicon-fire"></div>
                            <span ng-show="form.errors.language">{{form.errors.language}}</span>
                        </label>
                     </div>
                </div>

                <div class="form-group" ng-if="!bbcForm.model.isGuest">
                    <label class="col-lg-2 control-label">{{ 'GROUPS' | translate }}</label>
                    <div class="col-lg-10">
                        <div class="checkbox" ng-repeat="g in groups">
                            <label>
                                <input type="checkbox" checklist-model="bbcForm.model.groups" checklist-value="g._id" /> {{g.name}}
                                <span ng-if="g.description" class="glyphicon glyphicon-question-sign" popover="{{ g.description }}" popover-trigger="mouseenter"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="!bbcForm.model.isGuest">
                    <label class="col-lg-2 control-label">{{ 'ROLES' | translate }}</label>
                    <div class="col-lg-10">
                        <div class="checkbox" ng-repeat="r in roles">
                            <label>
                                <input type="checkbox" checklist-model="bbcForm.model.roles" checklist-value="r._id" ng-disabled="bbcForm.model.isGuest || r.name === 'Guest'" /> {{r.name}}
                                <span ng-if="r.description" class="glyphicon glyphicon-question-sign" popover="{{ r.description }}" popover-trigger="mouseenter"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">{{ 'RIGHTS' | translate }}</label>

                    <div class="col-lg-10">
                        <input ng-model="searchText" type="text" class="form-control" placeholder="{{ 'SEARCH_TEXT_PLACEHOLDER' | translate }}" />
                        <select class="form-control" ng-model="filterState" ng-options="fs.key | translate for fs in filterStates"></select>
                        <hr />
                        <ul class="list-group">

                            <li class="list-group-item" ng-repeat="r in rights | matchRightsFilter:searchText:filterState.filter.isAllowed:filterState.filter.isForbidden" ng-style="setListItemStyle(r);">
                            <div class="row">
                                <div class="col-md-1">
                                    <div>
                                        <label>
                                            <input type="checkbox" ng-change="setRight(r)" ng-model="r.isAllowed" ng-show="false">
                                            <span ng-if="r.isAllowed" class="glyphicon glyphicon-ok-circle"
                                                  popover="{{ 'UNSET_ALLOW_RIGHT' | translate }}" popover-trigger="mouseenter" popover-popup-delay="{{ popupDelay }}"></span>
                                            <span ng-if="!r.isAllowed" class="glyphicon glyphicon-ok"
                                                  popover="{{ 'SET_ALLOW_RIGHT' | translate }}" popover-trigger="mouseenter" popover-popup-delay="{{ popupDelay }}"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" ng-change="setRight(r)" ng-model="r.isForbidden" ng-show="false"/>
                                            <span ng-if="r.isForbidden" class="glyphicon glyphicon-remove-circle"
                                                  popover="{{ 'UNSET_FORBIDDEN_RIGHT' | translate }}" popover-trigger="mouseenter" popover-popup-delay="{{ popupDelay }}"></span>
                                            <span ng-if="!r.isForbidden" class="glyphicon glyphicon-remove"
                                                  popover="{{ 'SET_FORBIDDEN_RIGHT' | translate }}" popover-trigger="mouseenter" popover-popup-delay="{{ popupDelay }}"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    {{ r.name }}
                                    <div class="small"><em>{{ r.description }}</em></div>
                                </div>
                            </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary" ng-click="save(bbcForm.model)" name="save" ng-disabled="form.$invalid || bbcForm.isUnchanged()">{{ 'SAVE' | translate }}</button>
                        <button type="button" class="btn btn-default" ng-click="reset(form)" name="reset" ng-disabled="bbcForm.isUnchanged()">{{ 'RESET' | translate }}</button>
                        <a class="btn btn-default" ng-href="/admin/users" name="back" >{{ 'BACK' | translate }}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>