<div class="beige-noise">
    <div class="p-wrapper">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'USERS' | translate }}</div>
            <div class="panel-body">
                <table name="rights" class="table table-hover">
                    <colgroup>
                        <col style="width:50px;" />
                        <col style="width:250px;" />
                        <col />
                        <col style="width:110px;" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th><a href="/admin/users/new"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
                        <th><bbc-sort sort-opts="sortOpts" field-name="name" on-sorting="load(sortingOptions, pagingOptions)" />{{ 'NAME' | translate }}</th>
                        <th><bbc-sort sort-opts="sortOpts" field-name="email" on-sorting="load(sortingOptions, pagingOptions)" />{{ 'MAIL' | translate }}</th>
                        <th><bbc-sort sort-opts="sortOpts" field-name="is_active" on-sorting="load(sortingOptions, pagingOptions)" />{{ 'IS_ACTIVE' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in users">
                            <td>
                                <a href="/admin/users/edit/{{u._id}}"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="" ng-click="remove(u._id, u.name)" title="{{ 'DELETE' | translate }}" ng-show="u.canDelete"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                            <td>{{ u.name }}</td>
                            <td>{{ u.email }}</td>
                            <td><i ng-class="{'glyphicon glyphicon-ok': u.is_active}"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <bbc-pager count="count" current-page="currentPage" page-sizes="[1, 5, 10, 25]" page-size="{{ initialPageSize }}" on-paging="load(sortOpts, pagingOptions)"></bbc-pager>
            </div>
        </div>
    </div>
</div>

