<div>
    <div class="p-wrapper">
        <div ng-controller="blogAdminAdminCtrl">
            <h2>Blog Posts</h2>
            <table name="posts" class="table table-hover">
                <thead>
                    <tr>
                        <td style="width: 20px;">
                            <a name="newPost" href="/blog/admin/post/new"><i class="icon-plus-sign"></i></a>
                        </td>
                        <td style="width: 20px;">
                        </td>
                        <td>Title <a href="" ng-click="sort('title')"><i class="icon-arrow-down"></i></a></td>
                        <td>Content</td>
                        <td>Created <a href="" ng-click="sort('created')"><i class="icon-arrow-down"></i></a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="post in posts" ng-form="form">
                        <td><a href="/blog/admin/post/edit/{{post._id}}"><i class="icon-edit"></i></a></td>
                        <td>
                            <button ng-click="inlineEdit.setModel(post)"><i class="icon-edit"></i></button>
                        </td>
                        <td ui-if="inlineEdit.model != post">{{post.title}}</td>

                        <td ui-if="inlineEdit.model == post">
                            <ng-form name="formTitle">
                                <input type="text" ng-model="inlineEdit.model.title" name="title" required>
                                <span class="label label-important" ui-if="(formTitle.title.$dirty && formTitle.title.$invalid) || form.errors.title">
                                    Error:
                                    <span ng-show="formTitle.title.$error.required"> Title is required.</span>
                                    <span ng-show="form.errors.title"> {{form.errors.title}}.</span>
                                </span>
                            </ng-form>
                        </td>

                        <td ui-if="inlineEdit.model != post"><label>{{post.content}}</label></td>

                        <td ui-if="inlineEdit.model == post">
                            <ng-form name="formContent">
                                <input ng-model="inlineEdit.model.content" name="content" required>
                                <span class="label label-important" ui-if="formContent.content.$dirty && formContent.content.$invalid">
                                    Error:<span ng-show="formContent.content.$error.required"> Content is required.</span>
                                </span>
                            </ng-form>
                        </td>

                        <td>{{post.created | date:'dd.MM.yyyy HH:mm'}}</td>
                        <td>
                            <button ng-show="inlineEdit.model == post" ng-click="save(post, form)" ng-disabled="form.$invalid || inlineEdit.isUnchanged()">Save</button>
                        </td>
                        <td>
                            <button ng-show="inlineEdit.model == post" ng-click="inlineEdit.reset(post, form)" name="reset">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <lx-Pager count="count" current-page="currentPage" page-sizes="[1, 5, 10, 50, 100, 250, 500, 1000]" on-paging="getData(pagingOptions)"></lx-Pager>

            <button class="btn btn-danger" ng-click="addPosts()">Add 1000 Blog Posts</button>

        </div>
        <br />
        <br />

        <div ng-controller="blogAdminTagsCtrl">
            <button name="showTags" class="btn btn-info" ng-click="modal.open()">Tags</button>

            <div modal="modal.shouldBeOpen" close="modal.close()" options="opts">
                <div class="modal-header">
                    <h4>Tags</h4>
                </div>

                <div class="modal-body">
                    <form name="form" novalidate class="css-form form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">Name</label>

                                <div class="controls">
                                    <input type="text" ng-model="modal.name" name="name" />
                                    <button name="saveTag" type="submit" class="btn btn-primary" ng-click="modal.save(modal.name)">Add Tag</button>
                                </div>
                            </div>
                        </fieldset>

                        <alert ng-repeat="alert in modal.validationErrors" type="alert.type" close="modal.closeAlert($index)">{{alert.msg}}</alert>
                    </form>

                    <table class="table table-striped" name="tags">
                        <tbody>
                            <tr ng-repeat="tag in modal.items">
                                <td style="width: 30px;">
                                    <button name="deleteTag" class="close" ng-click="modal.delete(tag)">&times;</button>
                                </td>
                                <td>{{tag.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button class="btn" ng-click="modal.close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

