<div class="beige-noise">
    <div class="p-wrapper">

        <div class="page-header">
            <h1>Beispiel für Datepicker</h1>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Example Datepicker</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="sendForm()" name="form" novalidate>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error' : ((form.datepick.$dirty && form.datepick.$invalid) || form.errors.datepick)}">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <span>Standard Format: <strong>dd.MM.yyyy</strong><br>Validierung: <strong>required</strong></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : ((form.datepick.$dirty && form.datepick.$invalid) || form.errors.datepick)}">
                                <label for="datepick" class="col-sm-4 control-label">*Datum</label>
                                <div class="col-sm-8 lxvalidation">

                                    <input id="datepick" name="datepick" type="text" ng-model="datum" class="form-control" lx-datepicker="'dd.MM.yyyy'" required>

                                    <label ng-show="((form.datepick.$dirty && form.datepick.$invalid) || form.errors.datepick)" class="label label-danger">
                                        <div class="glyphicon glyphicon-fire"></div>
                                        <span ng-show="form.datepick.$error.date" popover="Error: Wrong date format." popover-trigger="mouseenter"></span>
                                        <span ng-show="form.datepick.$error.required" popover="Error: Date is required" popover-trigger="mouseenter"></span>
                                        <span ng-show="form.errors.datepick" popover="Error: {{form.errors.datepick}}" popover-trigger="mouseenter"></span>
                                    </label>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Ausgabe Datum:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{ datum }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error' : ((form.datepick.$dirty && form.datepick.$invalid) || form.errors.datepick)}">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <span>Eigenes Format: <strong>dd/MM/yyyy</strong><br>&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : ((form.datepick2.$dirty && form.datepick2.$invalid) || form.errors.datepick2)}">
                                <label for="datepick2" class="col-sm-4 control-label">Datum</label>
                                <div class="col-sm-8 lxvalidation">

                                    <input id="datepick2" name="datepick2" type="text" ng-model="datum2" class="form-control" lx-datepicker="'dd/MM/yyyy'">

                                    <label ng-show="((form.datepick2.$dirty && form.datepick2.$invalid) || form.errors.datepick2)" class="label label-danger">
                                        <div class="glyphicon glyphicon-fire"></div>
                                        <span ng-show="form.datepick2.$error.date" popover="Error: Wrong date format." popover-trigger="mouseenter"></span>
                                        <span ng-show="form.datepick2.$error.required" popover="Error: Description is required" popover-trigger="mouseenter"></span>
                                        <span ng-show="form.errors.datepick2" popover="Error: {{form.errors.datepick2}}" popover-trigger="mouseenter"></span>
                                    </label>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Ausgabe Datum:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{ datum2 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <br>
        <h4>Wie bekomme ich den lxDatepicker zum laufen?</h4>
        <p>Sehr einfach, indem man in einem normalen Input-Feld das Attribut 'lx-datepicker' hinzufügt.<br>
        Wichtig ist dabei aber der Directive noch einen String zu übergeben mit dem Format für das Datum,<br>
            also zum Beispiel: <code>dd.MM.yyyy</code><br>Dieses wird dann als Placeholder verwendet und genutzt um die Trenner zu erkennen zwischen den Zahlen. Das Anzeigeformat selber bleibt derzeit aber noch auf dem deutschen Format.
            Ein tatsächliche Logik zum Ändern des Formats folgt noch.<br><br>Das Datum wird in der ng-model Variable gespeichert.</p>
        <br>

        <div hljs>
<input id="date" name="date" type="text" ng-model="datum" lx-datepicker="'dd.MM.yyyy'"></div>

        <br>
        <h4>Wie bekomme ich die Validierung zum laufen?</h4>
        <p>Genau wie bei einem normalen Input-Feld mit der Ausnahme, dass das Datumsformat immer validiert wird. Beispiel "required":</p>

        <div hljs>
<input id="date" name="date" type="text" ng-model="datum" class="form-control" lx-datepicker="'dd.MM.yyyy'" required></div>

        <br>
        <p>Deshalb sollten die Validerungsmeldungen dafür vorhanden sein:</p>
        <div hljs>
<span ng-show="form.date.$error.date" popover="Error: Wrong Date" popover-trigger="mouseenter"></span>
<span ng-show="form.date.$error.required" popover="Error: Date is required" popover-trigger="mouseenter"></span></div>

        <br>

        <p>vollständiges Code-Beispiel:</p>
        <div hljs>
<div class="form-group" ng-class="{'has-error' : ((form.date.$dirty && form.date.$invalid) || form.errors.date)}">
    <label for="date" class="col-sm-2 control-label">*Datum</label>
    <div class="col-sm-10 lxvalidation">

        <input id="date" name="date" type="text" ng-model="datum" class="form-control" lx-datepicker="'dd.MM.yyyy'" required>

        <label ng-show="((form.date.$dirty && form.date.$invalid) || form.errors.date)" class="label label-danger">
            <div class="glyphicon glyphicon-fire"></div>
            <span ng-show="form.date.$error.date" popover="Error: Wrong Date" popover-trigger="mouseenter"></span>
            <span ng-show="form.date.$error.required" popover="Error: Date is required" popover-trigger="mouseenter"></span>
            <span ng-show="form.errors.date" popover="Error: {{form.errors.date}}" popover-trigger="mouseenter"></span>
        </label>

    </div>
</div></div>





       <br><br><br><br><br><br><br><br><br><br><br><br>

    </div>
</div>