/*----------------------------------------------------------------------*/
/*-------------------------singlepage layout----------------------------*/
/*----------------------------------------------------------------------*/
html, body {
    text-align:center;
    margin: 0;
    padding: 0;
    height: 100%;                /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 100% */
}

#singlepageFrame {
    width: 100%;
    margin: auto;                /* Div soll zentriert werden */
    min-height: 100%;            /* Mindesthoehe fuer moderne Browser */
    height:auto !important;      /* Important Regel fuer moderne Browser */
    height:100%; 				 /* Mindesthoehe fuer den IE */
    overflow: hidden !important; /* FF Scroll-leiste */
    background:lime;
}

/*----------------------------------------------------------------------*/
/*-------------------------center Layout--------------------------------*/
/*------------------needs 100% width wrapper around---------------------*/
/*----------------------------------------------------------------------*/
.p-wrapper{
    max-width:1400px;
    width:90%;
    margin:0 auto;
    height:100%;
}
/*----------------------------------------------------------------------*/
/*-------------------------snapped-------------------------------------*/
/*----------------------------------------------------------------------*/
.p-boxsized{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.snapped{
    width:100%;
    box-shadow:0 0 18px rgba(0,0,0,0.8);
}
/*----------------------------------------------------------------------*/
/*-------------hidden resonsive menu button ----------------------------*/
/*----------------------------------------------------------------------*/
#p-menu-button{
    margin:4px 4px 0 4px;
    display:none;
    float:right;
    box-shadow:none;
}
#p-menu-button span{
    font-size:19px;
}

/*----------------------------------------------------------------------*/
/*-------------------------header---------------------------------------*/
/*----------------------------------------------------------------------*/
header{

}
/*----------------------------------------------------------------------*/
/*-------------------------navigation-----------------------------------*/
/*----------------------------------------------------------------------*/
nav{

}
/*----------------------------------------------------------------------*/
/*-------------------------Advert---------------------------------------*/
/*----------------------------------------------------------------------*/
#advert{
    width:100%;
}
/*----------------------------------------------------------------------*/
/*-------------------------Content--------------------------------------*/
/*----------------------------------------------------------------------*/

.content{
    width:100%;
}

/*----------------------------------------------------------------------*/
/*-------------------------Footer---------------------------------------*/
/*----------------------------------------------------------------------*/
footer{
    width:100%;
}

/*----------------------------------------------------------------------*/
/*-------------------------small displays and tablets-------------------*/
/*----------------------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 1024px) {
    .p-wrapper{
        margin:0;
        width:100%;
    }
    #p-menu-button{
        display:block;
    }
    header{
        position:fixed;
        top:0;
        width:100%;
        z-index:9999;
        box-shadow:0 0 16px #000;
    }

    /*-------------------------------------------------------------------*/
    /*----------- navigation --------------------------------------------*/
    /*-------------------------------------------------------------------*/
    nav{
        /*z-index:4950;*/
        display:none;
        position:relative;
        top:0;
        left:auto;
        width:100%;
        height:100%;
    }

}

/*----------------------------------------------------------------------*/
/*-------------------------mobile phones--------------------------------*/
/*----------------------------------------------------------------------*/

@media (max-width: 768px) {
    .p-wrapper{
        margin:0;
        width:100%;
    }
    #p-menu-button{
        display:block;
    }

    header{
        position:fixed;
        top:0;
        width:100%;
        z-index:9999;
        box-shadow:0 0 16px #000;
    }
    /*-------------------------------------------------------------------*/
    /*----------- navigation --------------------------------------------*/
    /*-------------------------------------------------------------------*/
    nav{
        /*z-index:4950;*/
        display:none;
        position:relative;
        top:0;
        left:auto;
        width:100%;
        height:100%;
    }


}
