<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-app="app">
<head>

    <title>Baboon-Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Framework zum schnellen und performanten Aufbau von Anwendungen und Websites.">
    <meta name="keywords" content="Baboon, Baboonstack, Javascript, Angular, RedisIO, MongoDb,Node.js,Express.js">
    <meta name="author" content="Litixsoft GmbH">
    <!-- styles -->
    <link href="/vendor/bootstrap/css/bootstrap<!--@@min-->.css" rel="stylesheet">
    <!--<link href="/vendor/bootstrap/css/bootstrap-theme&lt;!&ndash;@@min&ndash;&gt;.css" rel="stylesheet">-->
    <link href="/css/app<!--@@min-->.css" rel="stylesheet">

    <link href="/vendor/highlightjs/styles/github.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <![endif]-->
    <!-- fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/favicon.png">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

<div id="singlepageFrame" class="ng-cloak">
    <div class="layout-content">
        <div class="col-left navCol">
            <span class="trademark-area">Baboon</span>


            <treeview class="navlist" itemlist-attr="navData" label-attr="title" icon-attr="icon" link-attr="route" target-attr="target" ng-init="navData = <%= JSON.stringify(navigation[0].children) %>"></treeview>


            <!--<treeview class="navlist" nr-attr="0" label-attr="title" icon-attr="icon" link-attr="route" target-attr="target"></treeview>-->

        </div>
        <div class="col-right">

            <!-- must be moved later in baboon-client -->

            <!-- login start -->

            <div class="dark-header">
                <div class="pull-right login-area">
                    <!--ng-controller="lxAuthLoginCtrl">-->

                    <% if(!isAuth) { %>
                        <lx-login-popup></lx-login-popup>
                    <% } %>
                    <% if(isAuth) { %>
                        <lx-logout-popup user="'<%= username %>'"></lx-logout-popup>
                    <% } %>


                </div>

                <bootnav class="navlist pull-right" itemlist-attr="mainNavData" type-attr="nav-pills" label-attr="title" icon-attr="icon" target-attr="target" link-attr="route" ng-init="mainNavData = <%= JSON.stringify(topLevelNavigation) %>"></bootnav>
                <!--<bootnav class="navlist pull-right" label-attr="title" icon-attr="icon" type-attr="nav-pills"  link-attr="route" target-attr="target"></bootnav>-->

                <div class="pull-right connection-area">
                    <div class="pull-right flag-area">
                        <style>


                        </style>

                        <div class="btn-group dark-select">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{ 'LANGUAGE_SELECT' | translate }}&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="#" ng-click="changeLanguage('de')"><img src="/img/flag-german.png" title="Sprachauswahl: deutsche Sprache auswählen!"/>&nbsp;&nbsp;Deutsch</a>
                                    <a href="#" ng-click="changeLanguage('en')"><img src="/img/flag-english.png" title="Language selection: select english language!"/>&nbsp;&nbsp;English</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="pull-right">
                        <img src="/img/socket-on.png" title="Socketverbindung" ui-if="socketEnabled" />
                        <img src="/img/socket-off.png" title="Socketverbindung getrennt!" ui-if="!socketEnabled" />
                        <!--<img src="/img/socketoff-icon.png" title="Keine schnelle Datenverbindung möglich!" style="height: 25px; cursor: pointer;"/>-->
                    </div>

                </div>

                <!--<span class="pull-right trademark-area">Baboon</span>-->
            </div>

            <!-- login end -->
            <div>
                <div class="p-wrapper">
                    <alert class="ng-cloak" style="margin: 2em 2em 0em; text-align: center" type="lxAlert.type" ui-if="lxAlert.visible" close="lxAlert.close()">{{lxAlert.msg}}</alert>
                </div>
            </div>

            <div class="view-container">
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>

<!--@@livereload-->
<script type="text/javascript" src="/socket.io/socket.io.js" charset="utf-8"></script>
<script type="text/javascript" src="/vendor/angular/angular<!--@@min-->.js" charset="utf-8"></script>
<script type="text/javascript" src="/vendor/angular-ui-bootstrap/ui-bootstrap-tpls-0.6.0<!--@@min-->.js" charset="utf-8"></script>
<script type="text/javascript" src="/vendor/showdown/src/showdown.js" charset="utf-8"></script>
<script type="text/javascript" src="/vendor/highlightjs/highlight.pack.js" charset="utf-8"></script>
<script type="text/javascript" src="/vendor/angular-highlightjs/angular-highlightjs<!--@@min-->.js" charset="utf-8"></script>
<script type="text/javascript" src="/vendor/d3/d3<!--@@min-->.js" charset="utf-8"></script>
<script type="text/javascript" src="/vendor/chroma-js/chroma<!--@@min-->.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/app<!--@@min-->.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/app.tpl<!--@@min-->.js" charset="utf-8"></script>

</body>
</html>