/*---------------------------------------------------------*/
/*---------------------------------------------------------*/

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-R-webfont.eot');
    src: url('../fonts/Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Ubuntu-R-webfont.woff') format('woff'),
    url('../fonts/Ubuntu-R-webfont.ttf') format('truetype'),
    url('../fonts/buntu-R-webfont.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans R';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans B';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans SB';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans L';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Light-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
.beige-noise{
    background:#efefef url(../img/beige-background.png);
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ff0000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ff0000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ff0000;
}
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/

#singlepageFrame {
    color:#6a6a6a;
    background:#4f4f4f url(../img/noise2.png);
}

.p-wrapper{
    max-width:1130px;
    width:90%;
}
#p-menu-button span{
    font-size:19px;
    font-family:'Open Sans R';
}
h1{
    font-family:'Open Sans L';
    font-size:32px;
    font-weight:normal;
}
h1 strong{
    font-family:'Open Sans B';
    font-weight:bold;
}
h4,
h3,
h2{
    font-size:26px;
    /*text-shadow:0 0 5px #000;*/
    font-family:'Open Sans';
    /*color:white;*/
    display:block;
}
h2{
    padding-top:30px;
    padding-bottom:5px;
    margin:0;
}
h3{
    font-size:26px;
    font-family:'Open Sans L';
    font-weight:normal;
    margin:0;
}
h4{
    font-size:20px;
    padding-top:30px;
    margin-bottom:0;
}
a img,
a{
    border:none;
    outline:none;
    text-decoration:none;
}
.p-textblock{
    padding:0 20px;
}
.imprint-table span,
.p-textblock ul{
    font-size: 16px;
    font-family: 'Open Sans';
    text-shadow: 0 0 5px #000;
    line-height:25px;
}
.p-lazy-load{
    background-image:url(../img/preload4.gif);/*, -webkit-linear-gradient(top,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.0) 4%,rgba(0,0,0,0.0) 98%,rgba(0,0,0,0.1) 100%); */
    background-repeat:no-repeat;
    background-position:center center;
}
hr{
    border:0;
    /*border-top:1px solid rgba(0,0,0,0.3);*/
    /*border-bottom:1px solid rgba(255,255,255,0.1);*/
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #c5c5c5;
    height:0;
    margin:30px 0;
}

.p-blockpart p{
    margin-right:20px;
}
.p-blockpart p img{
    float:left;margin-right:10px;border:5px solid white;box-shadow:0 0 8px #000;
    margin-top:5px;
}
/*-------------------------------------------------------------------*/
/*----------- Standard Buttons --------------------------------------*/
/*-------------------------------------------------------------------*/
/*a.btn,*/
/*input[type=submit],*/
/*button{*/
    /*background:#ff9700 url(../img/btn-orange-gradient.png) repeat-x;*/
    /*background-size: 100% 100%;*/
    /*border:1px solid #d27f0b;*/
    /*box-shadow:0 0 2px rgba(255,255,255,0.9) inset, 0 1px 5px rgba(0,0,0,0.6);*/
    /*color:white;*/
    /*font-family: 'Open Sans R';*/
    /*text-shadow: 0 1px 5px rgba(0,0,0,0.5);*/
/*}*/
/*a.btn:hover,*/
/*input[type=submit]:hover,*/
/*button:hover{*/
    /*box-shadow:0 0 2px rgba(255,255,255,0.9) inset;*/
    /*background:#ff9700 url(../img/btn-orange-gradient-hover.png) repeat-x;*/
    /*background-size: 100% 100%;*/
/*}*/
/*-------------------------------------------------------------------*/
/*----------- Big download Buttons ----------------------------------*/
/*-------------------------------------------------------------------*/
.github-big span:before{
    background:transparent url(../img/icon-github-btn-big.png) no-repeat center center;
    background-size:90% auto;
}
.download-big span:before{
    background:transparent url(../img/icon-download-btn-big.png) no-repeat center center;
    background-size:90% auto;
}
/*-------------------------------------------------------------------*/
/*----------- small grey buttons header -----------------------------*/
/*-------------------------------------------------------------------*/
.p-social-btn-group{
    float:right;
    display:inline;
}
.p-social-btn-group a{
    display:inline-block;
    margin:10px 3px;
    padding:0;
    width:25px;
    height:25px;
}
.p-social-btn-group a img{
    width:25px;
    height:25px;
}

.p-social-btn-group a img.header-btn{

    margin:0;
    padding:0;
    display:block;
    position:relative;
}
/*----------------------------------------------------------------------*/
/*-------------------------orange-line----------------------------------*/
/*----------------------------------------------------------------------*/
.orange-line{
    width:100%;
    height:7px;
    display:block;
    background:#f79100
}
/*----------------------------------------------------------------------*/
/*-------------------------header---------------------------------------*/
/*----------------------------------------------------------------------*/
header{
    height:91px;
}
/*----------------------------------------------------------------------*/
/*-------------------------navigation-----------------------------------*/
/*----------------------------------------------------------------------*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}
/*-------------------------------------------------*/
/*------------ Info Circles + Table ---------------*/
/*-------------------------------------------------*/
.spacer{
    display:none;
    width:100%;
    height:0;
}
/*-------------------------------------------------*/
/*------------ Info Circles + Table ---------------*/
/*-------------------------------------------------*/
.lx-divTable-td p{
    z-index:30;
    /*position:absolute;*/
    padding:5px 20px 0 20px;
}
.lx-divTable-table{
    margin:30px 0;
}
.lx-divTable-tr:first-child{
    background:url(../img/karriert.png)repeat-x;
    background-size:24px 100%;
}
.lx-info-circle{
    background:url(../img/circle-big.png) no-repeat center center;
    background-size:100% 100%;
    width:100%;
    height:100%;
    position:absolute;
    top:30px;
    left:0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;
    z-index:10;
}
.lx-info-circle span{
    width: 270px;
    height: 270px;
    color: white;
    font-family: 'Open Sans L';
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;

}
.lx-info-circle:hover{
    top:0;
}
.lx-info-gears{
    position:absolute;
    bottom:40px;
    left:50%;
    width:297px;
    height:137px;
    margin-left:-147px;
    display:block;
}
.lx-info-gears.leftgear{
    background:url(../img/gears-left.png) no-repeat;
    background-size:100% 100%;
}
.lx-info-gears.rightgear{
    background:url(../img/gears-right.png) no-repeat;
    background-size:100% 100%;
}
.lx-circle-cover{
    background:url(../img/circle-cover.png) no-repeat top center;
    background-size:100% 9px;
    width:270px;
    height:9px;
    position:absolute;
    bottom:0;
    left:0;
    display:inline-block;
    z-index:20;
}
.lx-circle-cover-shadow{
    background:url(../img/circle-cover-shadow.png) no-repeat top center;
    background-size:100% 76px;
}
/*----------------------------------------------------------------------*/
/*-------------------------navigation-----------------------------------*/
/*----------------------------------------------------------------------*/
nav{
    /*border-bottom:7px solid transparent;*/
    height:70px;
    display:block;
    position:relative;
}
nav .line{
    display:none;
    height:7px;
    width:100%;
    background:#f79100;
    position:absolute;
    bottom:0;
    left:0;
}
nav.snapped .line{
    display:block;
}


nav .p-wrapper{
    text-align:center;
    border-bottom:1px solid #c5c5c5;
    padding:18px 0;
}
nav.snapped .p-wrapper{
    border-bottom:none;
}

nav .snap-hide{
    cursor:default;
}
nav.snapped .snap-hide{
    cursor:pointer;
}

nav .p-litix-logo{
    position:absolute;
    left:-40px;
    top:50%;
    margin-top:-32px;
}
nav .p-litix-logo img{
    height:52px;
    width:140px;
    display:block;
}
nav .p-social-btn-group{
    position:absolute;
    right:-40px;
    top:50%;
    margin-top:-26px;
    height:52px;
}

nav .p-litix-logo,
nav .p-social-btn-group{
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0.0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
nav.snapped .p-litix-logo,
nav.snapped .p-social-btn-group{
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1.0;
}


nav ul{
    list-style-type:none;
    margin:0 auto;
    padding:0;
    display:inline-block;
}
nav ul li{
    display:inline;
    margin:0;
    border-right:1px solid #ffffff;
    border-left:1px solid #c5c5c5;
    position:relative;
    padding:3px 9px;
}
nav ul li:first-child{
    border-left:none;
}
nav ul li:last-child{
    border-right:none;
}
nav ul li a{
    margin:0;
    padding:3px 9px;
    display:inline-block;
    font-family:'Open Sans R';
    font-size:18px;
    color:#6a6a6a;
    text-decoration:none;
    position:relative;/*
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;*/
}

nav ul li a.main-nav{
    z-index:1;
    padding:3px 9px 13px 9px;
}
nav ul li a.main-nav.open-sub{
    z-index: 99999;
}

nav ul li .main-nav.active{
    font-weight:bold;
    cursor:default;
}

nav ul li .p-sublink:hover{
    /*nav ul li .main-nav.open-sub,*/
    /*nav ul li .main-nav:hover{*/
    border-radius:5px;
    background:#ddd;
}
nav ul li a.active:hover{
    background:none;
}
.nav-popup-glas{
    cursor:pointer;
    border:1px solid rgba(255,255,255,0.6);
    padding:50px 10px 10px 10px;
    z-index:9999;
    position:absolute;
    top:-15px;
    left:50%;
    margin-left:-150px;
    background:rgba(255,255,255,0.4);
    box-shadow:0 0 12px rgba(0,0,0,0.4);
    border-radius:7px;
    /*display:none;*/
}
.nav-popup-content{
    position:relative;
    min-width:280px;
    height:100%;
    width:100%;
    display:block;
    background:white;
    box-shadow:0 0 8px rgba(0,0,0,0.3);
    border-radius:5px;
    padding:20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.nav-popup-content:before{
    content:url(../img/popup-arrow.png);
    width:21px;
    height:10px;
    position:absolute;
    top:-15px;
    left:50%;
    margin-left:-10px;
}
.nav-popup-content ul{
    display:block;
    font-family:'Open Sans';
    background:white;
}
.nav-popup-content ul li{
    display:block;border:0;padding:10px 10px 10px 10px;border-bottom:1px solid #dddddd;
}
.nav-popup-content ul li:last-child{
    border-bottom:none;
}
.nav-popup-content ul li a{
    font-size:16px;
    display:block;
}
nav .nav-popup-glas  .nav-menu-blur{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:62px;
    border-radius:7px 7px 0 0;
    background-repeat:no-repeat;
}
nav.snapped .nav-popup-glas  .nav-menu-blur{
    height:55px;
}

.nav-blur-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding-top:62px; /*69*/
    border-radius:7px 7px 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    overflow:hidden;
}
.nav-content-blur{
    width:100%;
    height:100%;
    border-radius:0 0 7px 7px;
    background-repeat:no-repeat;
}

/*----------------------------------------------------------------------*/
/*-------------------------Advert---------------------------------------*/
/*----------------------------------------------------------------------*/

#advert{
    height:480px;
    background-color:#efefef;
    background-image: url(../img/slider-shadow.png), url(../img/beige-background.png);
    background-repeat: no-repeat, repeat;
    background-position: center bottom, center center;
}
#advert .p-wrapper{
    position:relative;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #c5c5c5;
}
#advert .p-wrapper .p-advert-content{
    position:absolute;
    bottom:98px;
    left:50%;
    margin-left:-471px;
    width:942px;
    height:350px;
    display:inline-block;
    background-color:#7bb81f;/*
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 40%, rgba(255,255,255,0.0) 40%), -webkit-linear-gradient(top left, #2e373b, #7bb81f);
	background-image: -moz-linear-gradient(top,rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 40%, rgba(255,255,255,0.0) 40%), -moz-linear-gradient(top left, #2e373b, #7bb81f);
	background-image: -o-linear-gradient(top,rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 40%, rgba(255,255,255,0.0) 40%), -o-linear-gradient(top left, #2e373b, #7bb81f);
	background-image: -ms-linear-gradient(top,rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 40%, rgba(255,255,255,0.0) 40%), -ms-linear-gradient(top left, #2e373b, #7bb81f);
	background-image: linear-gradient(top,rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 40%, rgba(255,255,255,0.0) 40%), linear-gradient(top left, #2e373b, #7bb81f);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#2e373b", endColorStr="#7bb81f");*/
}
#advert h1 {
    color:white;
    font-size:38px;
    text-shadow:1px 1px 7px rgba(0,0,0,0.8);
    -webkit-font-smoothing: none;
}
#advert p{
    padding:5px 20px;
    text-align:left;
    color:white;
    font-size:16px;
    font-family:'Open Sans L';
    -webkit-font-smoothing: none;
    text-shadow:1px 1px 7px rgba(0,0,0,0.8);
}
#advert .p-advert-nav {
    position:absolute;
    bottom:40px;
    left:0px;
    width:100%;
}
#advert .p-advert-nav  a{
    width:19px;
    height:19px;
    background-image:url(../img/circle-btn.png);
    display:inline-block;
}
#advert .p-advert-nav  a:hover{
    background-image:url(../img/circle-btn-hover.png);
}
#advert .p-advert-nav  a.active{
    background-image:url(../img/circle-btn-active.png);
}
#advert .p-advert-controls{
    width:940px;
    height:74px;
    position:absolute;
    bottom:230px;
    left:50%;
    margin-left:-470px;
}
#advert .p-advert-controls a{
    width:74px;
    height:74px;
    position:absolute;
}
#advert .p-advert-controls a.prev{
    left:-37px;
    background:url(../img/slider-prev-btn.png);
}
#advert .p-advert-controls a.next{
    right:-37px;
    background:url(../img/slider-next-btn.png);
}
.p-advert-pic{
    background-image:url(../img/preload4.gif);/*, -webkit-linear-gradient(top,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.0) 4%,rgba(0,0,0,0.0) 98%,rgba(0,0,0,0.1) 100%); */
    background-repeat:no-repeat;
    background-position:center center;
}
/*----------------------------------------------------------------------*/
/*-------------------------Content--------------------------------------*/
/*----------------------------------------------------------------------*/

.content .p-wrapper{
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #c5c5c5;
}
#subnav + .content{
    border-top:none;
}
.content p{
    font-size:18px;
    font-family:'Open Sans L';
}

.content .left{
    padding:30px 20px;
}
.content .right{
    position:relative;
    /*padding:10px 20px;*/ /* achtung  wegen galerie*/
}
/*----------------------------------------------------------------------*/
/*-------------------------Company Logos--------------------------------*/
/*----------------------------------------------------------------------*/

.p-company-logos{
    padding:20px 0;
}
.p-company-logos a{
    padding:5px 10px;
    margin:0 20px;
    height:43px;
    display:inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.p-company-logos a:hover{
    background:#e0e0e0;
    border-radius:7px;
}
/*----------------------------------------------------------------------*/
/*-------------------------Footer---------------------------------------*/
/*----------------------------------------------------------------------*/
footer .p-footer-block{
    font-family:'Open Sans R';
    padding:10px 0;
    text-align:center;
}
footer .p-footer-block a span{
    color:rgba(255,255,255,0.5);padding:5px 10px 10px 10px;display:inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
footer .p-footer-block a span:hover{
    color:rgba(255,255,255,0.8);
}
footer .p-copyright{
    border-top:1px solid rgba(255,255,255,0.1);
    padding:5px 30px;
    font-size:14px;
    font-style:italic;
    color:rgba(255,255,255,0.2);
}
/*------Autocomplete---------------*/
.ui-autocomplete.ui-widget-content{
    /*background:rgba(255,255,255,0.9);*/
    /*border:1px solid white;*/
    border:1px solid rgba(255,255,255,0.7);
    background:rgba(0,0,0,0.6);
    padding:0 20px 20px 20px;
    box-shadow:0 0 10px rgba(0,0,0,0.6);
    text-align:left;
    border-radius: 0 0 7px 7px;

}
.ui-autocomplete.ui-widget-content li.ui-menu-item{
    border-bottom:1px solid rgba(0,0,0,0.05);
    background:white;
}
.ui-autocomplete.ui-widget-content li.ui-menu-item:first-child{
    /*border-radius:6px 6px 0 0;*/
}
.ui-autocomplete.ui-widget-content li.ui-menu-item:last-child{
    border-bottom:none;
    border-radius:0 0 6px 6px;
}
.ui-autocomplete.ui-widget-content li.ui-menu-item:first-child:last-child{
    border-radius:6px;
}
.ui-autocomplete.ui-widget-content li.ui-menu-item a{
    font-family:'Open Sans L';
    color:#6a6a6a;
    padding:2px 10px;
}
.ui-autocomplete.ui-state-hover,
.ui-autocomplete.ui-widget-content .ui-state-hover,
.ui-autocomplete.ui-widget-header .ui-state-hover,
.ui-autocomplete.ui-state-focus,
.ui-autocomplete.ui-widget-content .ui-state-focus,
.ui-autocomplete.ui-widget-header .ui-state-focus {
    border:1px solid #ccc;
    border-radius: 0;
    background:#eee;


}
/*----------------------------------------------------------------------*/
/*-------------------------small displays and tablets-------------------*/
/*----------------------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 1024px) {
    .p-wrapper{
        margin:0;
        width:100%;
    }
    h1{
        font-size:25px;
    }

    #p-menu-button{
        display:block;
    }
    .p-social-btn-group	{
        margin-right:20px;
    }
    button{
        font-size: 14px;
        line-height:24px;
        padding:5px 20px !important;
        text-shadow: 0 1px 5px rgba(0,0,0,0.5);
        /*box-shadow:none;*/
    }
    /*-------------------------------------------------*/
    /*------------ Info Circles + Table ---------------*/
    /*-------------------------------------------------*/
    .spacer{
        height:40px;
        display:block;
    }
    /*----------------------------------------------------------------------*/
    /*-------------------------header---------------------------------------*/
    /*----------------------------------------------------------------------*/
    header{
        height:45px;
        border-top:none;
        text-align:left;
        border-bottom:7px solid #f79100;
    }
    header img{
        height:94%;margin:2px 10px 2px 10px;
    }
    /*-------------------------------------------------------------------*/
    /*----------- navigation --------------------------------------------*/
    /*-------------------------------------------------------------------*/
    nav{
        /*z-index:4950;*/
        display:none;
        border:0;
        position:relative;
        top:0;
        left:auto;
        width:100%;
        height:100%;
    }
    nav img{
        display:inline-block;
    }
    nav .p-wrapper{
        /*background-image: url(../img/noise.png), -webkit-linear-gradient(left, rgb(2, 11, 18) 0%, rgb(20, 64, 94) 50%, rgb(2, 11, 18) 100%);		*/
    }
    nav ul{
        width:100%;
        /*background-image: url(../img/noise2.png), -webkit-linear-gradient(left, rgb(31, 30, 30) 10%, rgb(71, 70, 70) 50%, rgb(31, 30, 30) 90%);*/
        /*background-image: url(../img/noise.png), -webkit-linear-gradient(left, rgb(2, 11, 18) 0%, rgb(20, 64, 94) 50%, rgb(2, 11, 18) 100%);*/

    }
    nav ul li{
        display:block;
        text-align:center;
        border-left:none;
        border-right:none;
        border-bottom:1px solid rgba(0,0,0,0.1);
        border-top:1px solid rgba(255,255,255,0.3);
    }
    nav ul li a{
        width:100%;
        padding: 7px 0px;
        background:#dfdfdf;
    }
    nav ul li a:hover{
        /*background-image:-webkit-linear-gradient(left,rgba(255,255,255,0.01) 0% ,rgba(255,255,255,0.1) 50%,rgba(255,255,255,0.01) 100%);*/
    }
    nav ul li label {
        display:none;
    }
    nav ul li a.active:after{
        content:"";
        border-right:none;
        border-left:9px solid #ccc;
        border-top:8px solid transparent;
        border-bottom:8px solid transparent;
        position:absolute;
        left:4px;
        top:50%;
        margin-top:-8px;
    }
    nav ul li a.active:before{
        content:"";
        border-left:none;
        border-right:9px solid #ccc;
        border-top:8px solid transparent;
        border-bottom:8px solid transparent;
        position:absolute;
        right:4px;
        top:50%;
        margin-top:-8px;
    }
    nav ul li a span{
        display:block;
    }
    nav ul li .main-nav.open-sub{
        z-index:1
    }
    .nav-popup-glas{
        cursor:pointer;
        border:none;
        padding:0;
        margin:0;
        z-index:1;
        position:relative;
        top:0;
        left:0;
        background:none;
        box-shadow:none;
        border-radius:0;
        display:block !important;
    }
    .nav-popup-content{
        position:relative;
        height:100%;
        width:100%;
        display:block;
        background:transparent;
        box-shadow:none;
        border-radius:0;
        padding:0;
        border:none;
    }
    .nav-popup-content:before{
        content:none;
    }
    .nav-popup-content ul{
        display:block;
        font-family:'Open Sans';
        background:transparent;
        border:none;
    }
    .nav-popup-content ul li{
        padding:1px;
        border-bottom:1px solid #eee;
    }
    .nav-popup-content ul li a{
        font-size:15px;
        background:#e6e6e6;
        padding:5px 0;
    }

    /*-------------------------------------------------*/
    /*------------ Info Circles + Table ---------------*/
    /*-------------------------------------------------*/
    .lx-width270{
        width:220px;
        min-width:220px;
        max-width:220px;
    }
    .lx-height270{
        height:220px;
        min-height:220px;
        max-height:220px;
    }
    .lx-circle-cover{
        width:220px;
    }
    .lx-info-circle span{
        width: 220px;
        height: 220px;
        font-size:25px;
    }
    /*-------------------------------------------------------------------*/
    /*----------- advert ------------------ -----------------------------*/
    /*-------------------------------------------------------------------*/
    #advert{
        height:420px;
        width:100%;
        background-color:#efefef;
        background-image: url(../img/slider-shadow.png), url(../img/beige-background.png);
        background-size:1000px auto, auto auto;
        background-repeat: no-repeat, repeat;
        background-position: center bottom, center center;
    }
    #advert .p-wrapper .p-advert-content{
        bottom:68px;
        margin-left:-332px;
        width:664px;
        height:310px;
        padding:0 10px;
        box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;
    }
    #advert h1 {
        margin-top:10px;
        margin-bottom:0;
        padding:0 10px;
        font-size:29px;
        line-height: 34px;
    }
    #advert p{
        padding:0 10px;
        font-size:16px;
    }
    #advert .p-advert-nav {

        bottom:20px;
        left:0px;
        width:100%;
    }
    #advert .p-advert-controls{
        width:680px;
        bottom:180px;
        margin-left:-340px;
    }
    /*----------------------------------------------------------------------*/
    /*-------------------------content--------------------------------------*/
    /*----------------------------------------------------------------------*/
    .content .p-wrapper{
        padding:0 20px;
        box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;
    }

    .content p{
        font-size:16px;
    }
}

/*----------------------------------------------------------------------*/
/*-------------------------mobile phones--------------------------------*/
/*----------------------------------------------------------------------*/

@media (max-width: 768px) {
    .p-wrapper{
        margin:0;
        width:100%;
    }
    h1{
        font-size:20px;
    }
    #p-menu-button{
        display:block;
    }
    .p-company-logos a{
        width:15%;
        height:auto;
        padding:2px;
        margin:0 4px;
    }
    .p-company-logos a img{
        width:100%;
    }


    .p-social-btn-group{
        margin-right:0px;
        position:absolute;
        top:0;
        right:110px;
    }
    .p-social-btn-group a{
        margin:15px 0;
        width:21px;
        height:21px;
        padding:0;
    }
    .p-social-btn-group a img{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
    }
    /*-------------------------------------------------------------------*/
    /*----------- Standard Buttons --------------------------------------*/
    /*-------------------------------------------------------------------*/
    button{
        font-size: 14px;
        line-height:24px;
        padding:5px 20px !important;
        text-shadow: 0 1px 5px rgba(0,0,0,0.5);
        /*box-shadow:none;*/
    }
    /*-------------------------------------------------------------------*/
    /*----------- Big download Buttons ----------------------------------*/
    /*-------------------------------------------------------------------*/
    button.big.icon{
        width:100% !important;
        height:45px !important;
        margin:3px;
    }
    button.big.icon span{
        padding:0;
        line-height:30px;
    }
    button.big.icon span:before{
        top:7px;
        left:4px;
        width:55px;
        height:30px;
    }
    .github-big span:before{
        background-size:auto 100%;
    }
    .download-big span:before{
        background-size:auto 100%;
    }
    /*-------------------------------------------------*/
    /*------------ Info Circles + Table ---------------*/
    /*-------------------------------------------------*/
    .spacer{
        height:40px;
        display:block;
    }
    /*----------------------------------------------------------------------*/
    /*-------------------------header---------------------------------------*/
    /*----------------------------------------------------------------------*/
    header{
        height:45px;
        border-top:none;
        text-align:left;
        border-bottom:7px solid #f79100;
    }
    header img{
        height:94%;margin:2px 10px 2px 10px;
    }
    /*-------------------------------------------------------------------*/
    /*----------- navigation --------------------------------------------*/
    /*-------------------------------------------------------------------*/
    nav{
        z-index:4950;
        display:none;
        border:0;
        position:relative;
        top:0;
        left:auto;
        width:100%;
        height:100%;
        padding-top:0;
        box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;
    }
    nav img{
        display:inline-block;
    }
    nav .p-wrapper{
        /*background-image: url(../img/noise.png), -webkit-linear-gradient(left, rgb(2, 11, 18) 0%, rgb(20, 64, 94) 50%, rgb(2, 11, 18) 100%);		*/
    }
    nav ul{
        width:100%;
        /*background-image: url(../img/noise2.png), -webkit-linear-gradient(left, rgb(31, 30, 30) 10%, rgb(71, 70, 70) 50%, rgb(31, 30, 30) 90%);*/
        /*background-image: url(../img/noise.png), -webkit-linear-gradient(left, rgb(2, 11, 18) 0%, rgb(20, 64, 94) 50%, rgb(2, 11, 18) 100%);*/

    }
    nav ul li{
        display:block;
        text-align:center;
        border-left:none;
        border-right:none;
        border-bottom:1px solid rgba(0,0,0,0.1);
        border-top:1px solid rgba(255,255,255,0.3);
    }
    nav ul li a{
        width:100%;
        padding: 7px 0px;
        background:#dfdfdf;
    }
    nav ul li a:hover{
        /*background-image:-webkit-linear-gradient(left,rgba(255,255,255,0.01) 0% ,rgba(255,255,255,0.1) 50%,rgba(255,255,255,0.01) 100%);*/
    }
    nav ul li label {
        display:none;
    }
    nav ul li a.active:after{
        content:"";
        border-right:none;
        border-left:9px solid #ccc;
        border-top:8px solid transparent;
        border-bottom:8px solid transparent;
        position:absolute;
        left:4px;
        top:50%;
        margin-top:-8px;
    }
    nav ul li a.active:before{
        content:"";
        border-left:none;
        border-right:9px solid #ccc;
        border-top:8px solid transparent;
        border-bottom:8px solid transparent;
        position:absolute;
        right:4px;
        top:50%;
        margin-top:-8px;
    }
    nav ul li a span{
        display:block;
    }
    nav ul li .main-nav.open-sub{
        z-index:1
    }
    .nav-popup-glas{
        cursor:pointer;
        border:none;
        padding:0;
        margin:0;
        z-index:1;
        position:relative;
        top:0;
        left:0;
        background:none;
        box-shadow:none;
        border-radius:0;
        display:block !important;
    }
    .nav-popup-content{
        position:relative;
        height:100%;
        width:100%;
        display:block;
        background:transparent;
        box-shadow:none;
        border-radius:0;
        padding:0;
        border:none;
    }
    .nav-popup-content:before{
        content:none;
    }
    .nav-popup-content ul{
        display:block;
        font-family:'Open Sans';
        background:transparent;
        border:none;
    }
    .nav-popup-content ul li{
        padding:1px;
        border-bottom:1px solid #eee;
    }
    .nav-popup-content ul li a{
        font-size:15px;
        background:#e6e6e6;
        padding:5px 0;
    }
    /*----------------------------------------------------------------------*/
    /*-------------------------content---------------------------------------*/
    /*----------------------------------------------------------------------*/
    .content .p-wrapper{
        padding:0 10px;
        box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;
    }
    .content .p-wrapper > img{
        width:100%;
    }
    .content p{
        font-size:14px;
    }
    /*-------------------------------------------------------------------*/
    /*----------- advert ------------------ -----------------------------*/
    /*-------------------------------------------------------------------*/
    #advert{
        /*display:none;*/
        height:auto;
        background-image:none;
        background-size:140% auto;
    }
    #advert .p-wrapper .p-advert-content{
        position:relative;
        height:auto;
        display:block;
        width:93%;
        left:0;
        margin:120px 3.5% -45px 3.5%;
        padding:5px;
        box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;
        z-index:20;
        border:1px solid #9ecc59;
    }
    #advert .p-wrapper{
        position:relative;
    }
    #advert .p-wrapper:before{
        content:"";
        width:140%;
        height:70px;
        position:absolute;
        bottom:13px;
        left:-20%;
        background-image: url(../img/slider-shadow.png);
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
        z-index:0;
    }
    #advert h1{
        font-size:20px;
    }
    #advert p{
        font-size:12px;
        padding:2px 4px;
    }
    #advert .p-50{
        width:100%;
        display:block;
    }
    #advert .p-advert-nav {
        bottom: 6px;
    }
    #advert .p-advert-controls{
        width:100%;
        z-index:22;
        margin-left:-50%;
        bottom:auto;
        top:40%;
    }
    #advert .p-advert-controls a.prev{
        width:30px;
        height:30px;
        background-size:100% 100%;
        left:0;
    }
    #advert .p-advert-controls a.next{
        width:30px;
        height:30px;
        background-size:100% 100%;
        right:0;
    }
    /*-------------------------------------------------*/
    /*------------ Info Circles + Table ---------------*/
    /*-------------------------------------------------*/
    .lx-width270{
        width:110px;
        min-width:110px;
        max-width:110px;
    }
    .lx-height270{
        height:110px;
        min-height:110px;
        max-height:110px;
    }
    .lx-circle-cover{
        width:110px;
    }
    .lx-info-gears{
        bottom:0px;
        width:167px;
        height:77px;
        margin-left:-83px;
    }
    .lx-info-circle span{
        width: 110px;
        height: 110px;
        font-size:12px;
    }
    .lx-divTable-td p{
        padding:5px 3px 0 3px;
    }
    /*----------------------------------------------------------------------*/
    /*-------------------------footer---------------------------------------*/
    /*----------------------------------------------------------------------*/
    footer .p-copyright{
        font-size:10px;
    }
}