<div class="beige-noise">
    <div class="p-wrapper" ng-controller="Test">
        <h1 class="headline">Ich bin ein Home View</h1>
        <p>Und hier kommt das allgemeine Blubber Bla Bla</p>

        <div class="form-horizontal">
            <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
            <button class="btn btn-default" ng-click="open()">
                <span class="glyphicon glyphicon-search"></span>
                <i class="icon-calendar"></i>
            </button>
        </div>
    </div>
</div>
