<h2>Enterprise Edit</h2>
<form class="form">
    <fieldset>
        <legend>Crew Member</legend>
        <div>
            <input type="text" ng-model="person.name" placeholder="Enter Name">
        </div>
        <div>
            <input type="text" ng-model="person.description" placeholder="Enter Description">
        </div>
        <div>
            <button ng-click="save()" class="btn btn-primary">Save</button>
        </div>
    </fieldset>

    <h3>Forms</h3>
    <ul>
        <li><a href="/form1">Form1</a></li>
        <li><a href="/form2">Form2</a></li>
        <li><a href="/form3">Form3</a></li>
    </ul>

    <!--<div ng-view></div>-->
</form>